




@media (max-width:1200px) {
.right_now_point:last-child{margin:0 0 2% 0%!important}
.padng_lft{padding: 0 0.7% 0 1.5%;}
.video-container{margin-bottom:2%}
.ipl_mrg_rgt{padding-right:1.9%;}
.sin_up_fld_3{ margin-bottom:2%!important}
.add_bottom{padding-right:1%;}
.col_mrg_ft_3{margin-left:15px;width:97%;}
.add_rgt{ display: none;}
.how_it_work_fild p{padding-left:8px;}
.how_it_work_fild{margin-bottom:3%}
.team_list_2 ul {margin: 0 0 0 1.2%;width: 97%;}
.padng_lft2 img {width:98%;}
.team_list {width:98%;}
.team_name {margin: 10px 0 0 54px;width: 70%;}
.team_list_2 i {margin-left:10px;}
.team_list_3 {margin: 0 0 20px  1.2%; width: 97%;}


}


@media (max-width:800px) {

.right_now_point:last-child{margin:0 0 2% 0%!important}
.padng_lft{padding-left:15px;}
.video-container{margin-bottom:2%}
.sin_up_fld_3{ margin-bottom:2%!important}
.ipl_mrg_rgt{padding-right: 1.9%;}
.col-lg-4 h4{padding-left:0px!important;}
.col_mrg_ft_3{margin-left:15px;width:96.1%;}
.add_rgt{ display: none;}
.team_list_2 ul {margin: 0 0 0 1.2%;width: 97%;}

}



@media (max-width:768px) {

.col-lg-4 h4{width:100%; padding-left:0px !important;}
.sin_up_fld_3{ margin-bottom:2%!important}
.col_mrg_ft_3{margin-left:15px; width:96.3%;}
.add_rgt{ display: none;}
.how_it_work_fild p{padding-left:8px;}
.how_it_work_fild{margin-bottom:3%}


}



@media (max-width:640px) {
body .footer .col-lg-4{width:100%;  margin-left: 5%;}
.sub_rgt{margin-right:7%}
.wdt_int{margin-right:7.5%}
.sin_up_fld{padding-bottom:11.5%;}
.carousel-indicators{right:48px;}
.sin_up_fld_3 .lft{ width:auto;}
.sin_up_fld_3 ul li{padding-right:20px; padding-left: 20px;}
.right_now_point:last-child{margin-bottom:5%;}
.sin_up_fr_2 p{margin-top:5%;}
.sin_up_fld_3{margin-bottom:5%;}
.mrg_row{margin-right:3%;}
.col-lg-4 h4{margin-left:2%; width: 89%;}
.social_ig{ width:100%;}
.foot_mrg_2 h4 {width:88.5%!important}
.add_rgt{ display: none;}
.col_mrg_ft_3{margin-left:15px; width:92%;}
.wdt_int_text_2{margin-left:1.2%;}
.wdt_int_2{margin-right:8%;}
.sub_rgt_2{margin-left:75%}
.how_it_work_fild{margin-bottom:3%}
.how_it_work_fild p{padding-left:8px;}
.padng_lft2 h4 {text-align: center;underline;width: 80%;}
.padng_lft2 img{ margin-left: 2.5%;width: 93%;}
.padng_lft3 h4 {width: 93%;}
.team_list ul li {padding: 12px 6px;}
.team_list { width: 100%;}
.team_list ul{width: 97%;font-size: 13px;}
.team_list ul li:first-child {width:19%;}
.team_list ul li:nth-child(2n){width:13%;}
.team_list ul li:nth-child(3n) { padding-right: 0;width: 25%;}
.team_list ul li:nth-child(4n){width: 25%;}
.fb_cmt h3 {  margin: 30px 0 0 3%;   width: 90%;}
.fb_cmt img {width:96%; margin-left:3%;}
.team_name {margin: 10px 0 0 5px;width: 100%;}
.team_name dfn {margin-left: 5px;font-size: 16px;}
.win_dtl h2 { margin-top: 5px }
.win_dt2 { margin-top: 5px }
.win_rgt {  height: 254px; left: 83px; position: absolute; top: 236px;  width: 48%;background-size: 100% auto;}
.win_img {  height: 108px;  left: 73px;  position: absolute;  top: 65px;  width: 157px;}
.win_img img {float: left;  height: 80px;  margin-right: 57px; position: absolute;   right: 51px;  top: -32px;   width: 70px;}
.win_dtl i {padding: 0 0 0 9px;}
.win_dtl h2 {padding: 0 0 0 9px;}
.win_dt2 {  padding-left: 9px;width: 88%;}
    
  
   
 
  
 
  
  
  
  
   
   
   
  
  

}


@media (max-width:320px) {
.sub_rgt{margin-right:7%}
.wdt_int{margin-right:7.5%}
.sin_up_fld{padding-bottom:11.5%;}
.carousel-indicators{right:48px;}
.sin_up_fld_3 .lft{ width:auto;}
.sin_up_fld_3 ul li{padding-right:20px; padding-left: 20px;}
.right_now_point:last-child{margin-bottom:5%;}
.sin_up_fr_2 p{margin-top:5%;}
.sin_up_fld_3{margin-bottom:5%;}
.mrg_row{margin-right:3%;}
.col-lg-4 h4{margin-left:2%; width: 100%;}
.foot_mrg_2 h4 {width:88.5%!important}
.add_rgt{ display: none;}
.team_list ul {font-size: 16px;width: 98%; margin-left:2%;}
.team_list ul li:first-child{display:none;}
.team_list ul li:nth-child(2n){display:none;}
.team_list ul li:nth-child(3n) { padding-right: 0;width: 60%;}
.team_list ul li:nth-child(4n){width: 40%;}
.team_name dfn {margin-left: 5px;font-size: 15px;}
.team_list_2 ul li:first-child {width:39%;}
.team_list_2 ul li:nth-child(2n) {width:17%;}
.team_list_2 ul li:nth-child(5n)  {display:none;}
.team_name { margin: 0px 0 0 2px; width: 100%;float: left;}
.team_name a:first-child {margin-left: 36px;}
.team_name a { margin-left: 0;padding: 6px 8px;}
.team_name dfn { margin-left: 5px;  margin-top: 10px;padding-left: 20%; float:left; }
.score_lk2 {float:left;}
.score_lk2 a {padding: 10px 37px;}
.team_name a:first-child {margin-right: 4px;}
.team_name a {padding: 7px 38px; float:left;}
.team_name a:nth-child(2n){padding: 7px 41px;}
.team_list_2 {width:98%;}
.team_list_2 u{width:98%;}
.team_list_2 ul li:first-child {width: 48%;}
.team_list_2 ul li:nth-child(2n) {width: 28%;}
.team_list_2 ul li:nth-child(3n) {width: 12%;}
.team_list_2 ul li:nth-child(4n) {width: 12%;}
.team_list_3 ul li:nth-child(4n) {display:none;}
.team_list_3 ul li:nth-child(3n) {width: 21%;}
.win_img img {width: 63px;top: -31px;right: 63px;  height: 65px;}
.win_dt2 {padding-left: 12px;width: 88%;}
.win_dtl i {padding-left: 9px;}
.win_dtl h2 {padding-left: 9px;}
.mob_live_board .liv_team #score6[class="team_list_3"] > ul > li{font-size:13px;}
.mob_live_board .liv_team #score6[class="team_list_3"] > ul > li:last-child{display:none } 
.mob_live_board .liv_team #score6[class="team_list_3"] > ul > li:nth-child(4n) {display:block !important;} 
   

}