/* CSS Document */

.clear{clear:both;}
.container_hdr {
	max-width: 980px;
	padding-left: 0px;
}
/*.nav_bg{background:url(../img/top.jpg) no-repeat; left:20px; }*/
.navbar_wdt {
	width: 980px;
	margin: 0px;
	padding: 0px;
}
.page_background {
	background: #fff;
	float: left;
	padding-bottom: 20px; width:100%; overflow:hidden;
}
.container_clr {
	padding-left: 0px;
	padding-right: 0px;
	background: none;
}
.clr {
	clear: both;
}
.black{
        display: none;
        position:fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.20;
        filter: alpha(opacity=80);
    }
.mrg_top {
	margin-top: 18px;
}
.mrg_top_2 {
margin-top: 0px;
width: 97%;
text-align: justify;
padding-right: 0;
	
}
.mrg_top_2 h2 {
	margin-top: 10px !important;
}
.mrg_top_2 span {
	color: #ff0000;
}
.mrg_rgt img {
	margin-left: 58px;
}
.nav_bg_clr {
	background-color: #000000;
	border-bottom: 1px solimrg_top_2d #fff
}
.col_mrg {
	padding-right: 0px;
}
/*.col_mrg_2{padding-left:0px; } */
.right_now {
	height: 371px;
	width: 322px;
	background: #000;
}
.right_now_point_2 {
	min-height: 20px;
	width: 100%;
	background: #000;
}
.right_now_point_2 h3 {
	color: #fd2f51;
	text-align: center;
	margin: 0px;
	padding: 6px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.right_now_point {
	width: 100%;
	background: #333333;
	border-bottom: 1px solid #adadad;
	border-top: 1px solid #adadad;
	transition: all .5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	float: left;
	max-height:91px;
}
.right_now_point:hover {
	background: #000000;
	transition: all .5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	overflow:hidden;
}
.right_now_point dfn {
	min-height: 20px;
	width: 322px;
}
.right_now_point dfn img {
	margin: 12px 20px 20px 20px;
	border: 1px solid #000000;
	float: left;
}
.right_now_point dfn p {
	float: right;
	text-align: justify;
	width: 66%;
	padding: 8px 10px 2px 0;
	font-family: "Myriad Pro";
	font-style: normal;
	color: #adadad;
	font-size: 14px; line-height:19.5px;
}
.right_now_point dfn p:hover {
	color: #FFFFFF;
	
}
.right_now_point dfn a {
	color: #d82731;
	padding: 0px;
	margin: 0px;
}
.col_mrg_ft {
	padding-left: 0px;
	margin-left: 23px;
	padding-right: 0px;
	width: 497px;
}
.col_mrg_ft_2 {
}
.col_mrg_ft_3 {
	padding-left: 0px;
	margin-left: 38px;
	padding-right: 0px;
}
.sin_up_fr {
	background: #000;
	padding: .5% 0
}
.sin_up_fr p {
	color: #fd2f51;
	text-align: left;
	margin: 0px;
	padding: 2px 0 0 5px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
}
.padng_lft {
	padding: 0 0.7% 0 2.5%;
}
.sin_up_fr_2 {
	background: #000;
}
.sin_up_fr_2 p {
	color: #fd2f51;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	font-size: 18px;
	margin-bottom: 1px!important;
}
.ipl_mrg_rgt {
	padding-right: 2.3%;
}
.col_mrg_ftsk_3 {
  margin-left: 15px;
    padding-left: 0;
    padding-top: 2px;
    padding-right: 0;
    width: 98%;
}

.col_mrg_ft_3 {

	padding-left: 0px;
	margin-left: 23px;
	padding-right: 0px;
	width: 74%;
}
.how_it_work {
	width: 100%;
	height: 32px;
	background: #000;
}
.how_it_work p {
	color: #fd2f51;
	text-align: left;
	margin: 0px;
	padding: 2px 0 0 5px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
}
.how_it_work_fild {
	background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	width: 100%;
	margin-bottom:0%;
	height: auto;
	float:left;
	
	
}
.how_it_work_fild1 {
	background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	margin-bottom:0%;
	height: auto;
	float:left;
	  width: 747px;
	
}.how_it_work_fild1222 {
    background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	margin-bottom:0%;
	height: auto;
	float:left;
	  width: 980px;}
.how_it_work_fild p {
	padding: 20px 0 0 20px;
	font-family: "Myriad Pro";
	font-size: 14px;
	color: #666666
}
.how_it_work_step {
	width: 98%;
	background: #333333;
	margin: auto;
	height: auto;
	border: 1px solid #000000;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	margin-bottom: 5px;
	color: #FFFFFF;
}
.how_it_work_step a {
	color: #FF0000;
}
.how_it_work1 {

	background: #333333;
	  float: left;
    height: auto;
    margin: 5px 8px;
    width: 98%;
	border: 1px solid #000000;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);

	
}
.how_it_work1 ul li {
	color: #fd2f51;
	border-bottom: 1px solid #858585;
	width: 80%;
	list-style-type: none;
	margin: 0px;
	padding: 20px 0 10px 0px;
	float: left;
	font-size: 18px;
}
.how_it_work1 ul li p {
	color: #999999;
	float: right;
	padding-left: 50px;
	margin: 0px;
	width: 100%;
	font-size: 16px;
	height: auto;
	margin-top: -20px;
}
.how_it_work1 li {
	list-style-type: none;
}
.how_it_work1 ul li:last-child {
	border: 0px;
}
.how_it_work_step img {
	margin: 50px 20px 0 20px!important;
}
.how_it_work_step div {
	margin-bottom: 0px!important;
}
.how_it_work_step ul {
	color: #fd2f51;
	width: 100%;
	list-style-type: none;
	float: left;
	padding: 0px;
	margin-left: 20px;
}
.how_it_work_step ul li {
	color: #fd2f51;
	border-bottom: 1px solid #858585;
	width: 80%;
	list-style-type: none;
	margin: 0px;
	padding: 20px 0 10px 20px;
	float: left;
	font-size: 18px;
}
.how_it_work_step ul li p {
	color: #999999;
	float: right;
	padding-left: 50px;
	margin: 0px;
	width: 100%;
	font-size: 16px;
	height: auto;
	margin-top: -20px;
}
.how_it_work_step li {
	list-style-type: none;
}
.how_it_work_step ul li:last-child {
	border: 0px;
}
.sin_up_fld {
	width: 100%;
	background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	padding: 5% 4% 8%;
}
.sin_up_fld_2 {
	width: 94%;
	background: #000;
	background: #fff;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	padding: 0 0 10% 0;
}
.sin_up_fld_3 {
	padding-bottom: 14px;
	background: #333333;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	float: left;
}
.sin_up_fld_3 ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
}
.sin_up_fld_3 ul li {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	color: #FFFFFF;
	border-bottom: 1px solid #858585;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
}
.sin_up_fld_3 ul li:hover {
	background: #000;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
}
.sin_up_fld_3 ul li p {
	margin: 0px;
	float: right;
	color: #FFFFFF
}
.sin_up_fld_3 .lft {
	float: left;
	width: 260px;
}
.sin_up_fld_3 .ryt {
	float: right;
	width: 100px;
	text-align: right;
}
.right_now_point:last-child {
	border-bottom: none;
	padding-bottom: 1px;
}
.responcive {
	height: auto;
	float: left;
}
.sin_up_fld_3 ul li .ryt dfn {
	margin: 0px;
	color: #fd5974;
	font-style: normal;
	font-size: 15px;
}
.sin_up_fld_3 span {
	color: #fd5974;
	padding: 5px 0 0 20px;
	margin-top: 0px;
	float: left
}
.P {
	color: #FFFFFF;
	padding: 5px 0 0 20px;
	margin-top: 0px;
	float: left
}
.wdt_int {
	border: 1px solid #9a9a9a;
	border-radius: 0;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	display: inline;
	padding: 0 2%;
	float: right;
	width: 60%;
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	margin-right: 5.5%;
}
.sub_rgt {
	background: #f90028;
	color: #fff;
	border-radius: 0px;
	margin-right: 5%;
	margin-top: 5px;
	margin-left:  7.5%;
}
.frm_mrg {
	margin-top: 20px;
	height: 200px;
}
.frm_mrg1 {
	margin-top: 20px;
	height: 400px;
	
}

.wdt_int_text {
	margin-left: 60px;
	color: #666666;
	font-size: 16px;
	font-family: "Myriad Pro";
	font-weight: normal;
}
.marg_row_top {
	margin-top: 18px;
}
.margn_lft_vdo {
	margin: 0px;
	padding: 0px;
	margin-top: 18px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	width: 100%;
}
.margn_lft_vdo_2 {
	padding: 0px;
	margin: 18px 0 18px 0;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	width: 100%;
}
.wlcm_mt_bos {
	margin: 25px 0 0 37px;
}
.wlcm_mt_bos p {
	margin-top: 11px;
}
.godl_add {
	margin: 2% 0 0 10px;
}
.godl_add_2 {
	margin: 8px 0 0 25px;
}
.foot_bg {
	background: #000;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 200px;
	margin-bottom: 0px;
	padding-bottom: 20px;
}
body .footer .container {
	margin: 0 auto;
}
.col-lg-4 h4 {
	color: #FFFFFF;
	border-bottom: 1px solid #707070;
	padding: 6px 0 25px 29px;
	font-size: 16px
}
.foot_mrg_2 {
	padding-left: 0px;
	padding-right: 42px;
}
.foot_mrg_3 {
	padding-left: 0px;
	padding-right: 70px;
	width: 33%;
}
.foot_mrg_3 P {
	float: left;
	color: #999999;
	display: block;
	width: 100%;
}
.foot_mrg_3 P img {
	float: left;
	color: #999999;
	display: block;
}
.foot_mrg_3 P a {
	color: #999999;
	float: left;
	padding-left: 0px;
}
.foot_mrg a {
	width: 50px;
	float: left;
	padding-bottom: 10px;
}
.video-container {
	position: relative;
	padding-bottom: 52.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%!important;
}
.add_rgt {
	padding: 0px;
	margin: 0px;
	float: right;
	width: 150px;
	margin-right: 55px;
}

.add_rgt2 {
	padding: 0px;
	margin: 0px;
	float: right;
	width: 150px;
	margin-right: 55px;
	margin-top:15PX;
}

.video-container_2 {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container_2 iframe, .video-container_2 object, .video-container_2 embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 88.5%;
}
.wdt_int_2 {
	width: 60%;
	border: 1px solid #9a9a9a;
	border-radius: 0;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.25);
	padding: 3%;
	float: right;
	margin-right: 5%;
}
.wdt_int_text_2 {
	color: #666666;
	font-size: 16px;
	font-family: "Myriad Pro";
	font-weight: normal;
}
.sub_rgt_2 {
	margin-right: 0px;
	background: #f90028;
	color: #fff;
	border-radius: 0px;
	margin-bottom: 3%;
	margin-left: 87%;
	margin-top: 2%;
}
.logo {
	height: 67px;
	padding-bottom: 20px;
	margin-top: -10px;
}
.add_bottom {
	width: 100%;
	float: left;
	margin-top:15px;
}
.mrg_bott {
	margin-bottom: 1.5% !important
}
.mrg_row {
	margin-right: 0px;
	margin-left: 1%;
}
.myrig {
	background-color: #000;
	margin-right: 0px;
	width: 100%;
	padding-right: 0;
}
.myrig h3 {
	border-bottom: 1px solid #adadad;
	margin-top: 0;
	padding: 5px 0;
	text-align: center;
	margin-bottom: 0px;
	color: #ff0000;
}
.rit_div {
	padding: 2%;
	border-bottom: 1px solid #adadad;
}
.rit_div img {
	padding-right: 15px;
}
.rit_div:last-child {
	padding: 2%;
	border-bottom: 0px;
}
.rit_div:hover {
	background-color: #333333;
	font-weight: bold;
}
.rit_div a {
	color: #ff0000;
	display: block;
	text-align: center;
}
.col_mrg_2 {
	padding-right: 30px;
}
.rit_div p {
	float: right;
}
.recent {
	width: 100%;
	float: left;
}
.footer .col-lg-4 {
	width: 33.33333333333333%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.container {

}
.foot_mrg_3 a {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.social_ig {
	float: left;
	padding-bottom: 20px;
}
<!--
manas created css--> .j {
	margin-left: 20px!important;
	font-size: 36px;
}
.rgt_like {
	padding-top: 0px;
}
.rgt_like iframe {
	width: 100%!important;
	margin-top: 20px;
	margin-left: 10px;
}
.error_int {
	border: 1px solid #ff0000;
}
.top-toolbar .brand-bar h1 {
	display: none!important;
}
.top-toolbar .brand-bar.fix-it {
	display: none!important;
}
.white-btn {
	display: none!important;
}
.live_logo {
	width: 307px;
	height: 66px;
	float: left;
	margin-top: 10px;
	position: fixed;
}
.live_logo img {
	width: 307px;
	height: 66px;
}
#rootnav {
	top: 91px!important;
}
.top-toolbar.row {
	width: 23%;
	margin-top: 2%;
	margin-left: 19.5%!important;
}
.col-lg-offset-3 {
	margin-left: 25%!important;
	margin-top: .8%;
	width: 76%!important;
}
.capcha {
	width: 100%;
	height: auto;
	float: left;
}
.form_captcha {
	margin-bottom: 2.5%;
	margin-left: 51%;
	height: 100%;
	border-radius: 4px;
	padding: 0px;
	margin-top: 20px;
}
.sin_up_log {
	width: 75%;
	background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	margin: 20px auto
}
.sin_up_frd {
	width: 75%;
	background: #000;
	border: 1px solid #cccccc;
	background: #fff;
	margin-top: 1px;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.50);
	margin: 20px auto
}
#forgot {
	margin-left: 206px;
	text-decoration: underline;
}
.log_rgt {
	background: #f90028;
	color: #fff;
	border-radius: 0px;
	margin-right: 5.5%;
	margin-top: -8px;
	float: right;
	width: 16%;
}
.self_error1 {
	display: block;
	float: left;
	margin-bottom: 2px;
	margin-left: 193px;
	width: 100%;
}
.frm_log {
	margin-top: 38px;
	min-height: 180px;
}
.wdt_frd {
	border: 1px solid #9a9a9a;
	border-radius: 0;
	-webkit-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	display: inline;
	padding: 0 2%;
	float: right;
	width: 60%;
	-moz-box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.20);
	margin-right: 5.5%;
}
.frd_lf {
	float: left;
}
.frd_int {
	margin-bottom: 10px;
}
.fr_sub_rgt {
	background: #f90028;
	color: #fff;
	border-radius: 0px;
	margin: 5px 5% 10px 82.3%;
}
#email_error2 {
	margin-left: 193px!important;
}
.not_mh {
	float: left;
	margin: -55px 0 0;
	padding: 0 0 0 45px;
	text-align: center;
	width: 100%;
}
.form-group2{ width:100%; min-height:20px; margin-bottom:20px;}
.form-group2 span {color:#333!important; font-style:normal; text-decoration:underline;}



<!--24-03-2014-->
body.add_top{float: left;
    margin-left: 25px;
    margin-top: 13px;
    padding: 0;
    width: 70%;}

.padng_lft2 {
	padding: 0 0.7% 0 2.5%;
	margin-top:15px;
	
}

.padng_lft2 h4{color:#ff0000; text-decoration:underline;}

.padng_lft3 {
	padding: 0 0.7% 0 2.5%;
	margin-top:15px;
	border-right:1px solid #ccc;
	margin-bottom:20px;
}

.padng_lft3 h4{color:#ff0000; text-align:center;}


.team_list{width:100%; height:auto; float:left; margin:0px; padding:0px; padding:0px; font-size:15px; margin: 27px 0 0;}
.team_list ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline;border-bottom:1px solid #ccc; padding:0px;}

.team_list ul:first-child{border-bottom:2px solid #ccc;}
.team_list ul:last-child{border-bottom:1px solid #ccc; }
.team_list ul:nth-child(2n+0){background:#FFF;}
.team_list ul li{min-width:6.1%; min-height:30px; float:left; margin:0px;padding:12px 14px 12px 0px; text-decoration:none; list-style-type:none; display:inline; overflow:hidden}

.team_list ul li:first-child{width:16%;  margin:0px; float:left;}
.team_list ul li img{float:left; }
.team_list ul li:nth-child(2n+0){width:12%}
.team_list ul li:nth-child(3n+0){width:28%;padding-right: 18px;}
.team_list ul li:nth-child(4n+0){width:28%}
.team_list1{width:100%; height:auto; float:left; margin:0px; padding:0px; padding:0px; font-size:15px; margin: 27px 0 0;}
.team_list1 ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline;border-bottom:1px solid #ccc; padding:0px;}

.team_list1 ul:first-child{border-bottom:2px solid #ccc;}
.team_list1 ul:last-child{border-bottom:1px solid #ccc; }
.team_list1 ul:nth-child(2n+0){background:#FFF;}
.team_list1 ul li{min-width:6.2%; min-height:30px; float:left; margin:0px;padding:12px 14px 12px 0px; text-decoration:none; list-style-type:none; display:inline;}

.team_list1 ul li:first-child{width:16%;  margin:0px; float:left;}
.team_list1 ul li img{float:left; }
.team_list1 ul li:nth-child(2n+0){width:12%}
.team_list1 ul li:nth-child(3n+0){width:22%;padding-right: 18px;}
.team_list1 ul li:nth-child(4n+0){width:22%}
.score_lk {width:100%;height:auto; margin:0px; padding:20px 10px 50px; text-align:center; padding-top:20px;}
.score_lk a {padding:7px; background:#000;color:#fff; }

.team_lft{
	
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 50%;
	font-size:16px;
	}
	
	
	.team_lft ul{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
	list-style-type:none;
	
	}
	.team_lft ul li{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
	text-align:center;
	list-style-type:none;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:7px;
	
	
	}
.team_lft ul li:first-child{border-bottom:2px solid #ccc;border-right:none;}


.team_rgt{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 50%;
	font-size:16px;
	}
	
	
	.team_rgt ul{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
	list-style-type:none;
	
	}
	.team_rgt ul li{
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
	text-align:center;
	list-style-type:none;
	border-bottom:1px solid #ccc;
	padding:7px;
	
	
	}

.team_rgt ul li:first-child{border-bottom:2px solid #ccc;}
.fb_cmt {width:100%; height: auto; float:left; margin:20px 0 0; }

.fb_cmt h3{margin:30px 0 0; font-weight:bold; font-size:16px; width:100%; border-bottom:2px solid #000;}

.score_lk2 {width:100%;height:auto; margin:0px; padding:20px 10px 10px; text-align:center; padding-top:20px;}
.score_lk2 a {padding:7px; background:#000;color:#fff; }

.score_lk2 a:first-child {
	color: #ff0000;
}


.team_name {width:100%;height:auto; margin:0px; padding:0px; text-align:left; padding-top:5px;}
.team_name a {padding:7px; background:#000;color:#fff; }
.match_active { color:#FF0000!important; }
.team_name dfn {color:#ff0000; font-style:normal; font-size:18px; margin-left:30px;}



.team_list_2{width:100%; height:auto; float:left; margin:0px; padding:0px; padding:0px; font-size:16px; margin: 0px 0 0;}
.team_list_2 ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline;border-bottom:1px solid #ccc; padding:0px;}

.team_list_2 ul:first-child{border-bottom:2px solid #ccc;}
.team_list_2 ul:last-child{border-bottom:1px solid #ccc; }
.team_list_2 ul:nth-child(2n+0){background:#FFF;}
.team_list_2 ul li{width:auto; min-height:30px; float:left; margin:0px;padding:12px 14px 12px 0px; text-decoration:none; list-style-type:none; display:inline;}

.team_list_2 ul li:first-child{width:42%;  margin:0px; float:left;}
.team_list_2 ul li img{float:left; }
.team_list_2 ul li:nth-child(2n+0){width:18%}
.team_list_2 ul li:nth-child(3n+0){width:13%;;}
.team_list_2 ul li:nth-child(4n+0){width:13%}
.team_list_2 i{font-style:normal; margin-top:10px; float:left; font-size:13px; margin-bottom:45px;}






.team_list_3{width:100%; height:auto; float:left; margin:0px; padding:0px; padding:0px; font-size:16px; margin: 0px 0 0;}
.team_list_3 ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline;border-bottom:1px solid #ccc; padding:0px;}

.team_list_3 ul:first-child{border-bottom:2px solid #ccc;}
.team_list_3 ul:last-child{border-bottom:1px solid #ccc; }
.team_list_3 ul:nth-child(2n+0){background:#FFF;}
.team_list_3 ul li{width:auto; min-height:30px; float:left; margin:0px;padding:12px 14px 12px 0px; text-decoration:none; list-style-type:none; display:inline;}

.team_list_3 ul li:first-child{width:32%;  margin:0px; float:left;}
.team_list_3 ul li img{float:left; }
.team_list_3 ul li:nth-child(2n+0){width:12%}
.team_list_3 ul li:nth-child(3n+0){width:14%}
.team_list_3 ul li:nth-child(4n+0){width:12%;;}
.team_list_3 ul li:nth-child(5n+0){width:13%}
.team_list_3 i{font-style:normal; margin-top:10px; float:left; font-size:13px;}
.team_list_3 h4 {color:#ff0000; text-align:center;margin-right:20px;}
.team_list_3 p{font-size:13px; padding:0px; margin:0px;}
.fall_wkt {float:left; margin-top:10px;width:100%; }

.lh a {color:#FD2F51!important;}
.lh b {color:#FD2F51!important;}
.fb_bg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 271px;
    margin-top: 71px;
    width: 299px;
}

#score9 h3{text-align:center; color:#ff0000;}
#score9 h6{text-align:center; }
#score9 h4{text-align:center; }
#score9 h1{text-align:center; color:#0066FF; }
#score9 h5{text-align:center; }
.clear{ clear:both}
.live_image{ width:57px; height:45px;
}
/*winner page css start here*/
.win_lft {
	width: 95%;
	height: auto;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;

}
.win_lft h4 {
	color: #000;
	font-weight: 700;
	padding-left: 20px;
}
.win_dtl {
	width: 260px;
	height:210px;
	margin-left: 52px;
}
.win_dtl p {
	font-size: 20px;
	color: #333;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left:20px;
}
.win_dtl i {
	font-size: 14px;
	color: #333;
	font-style: normal;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
}

.win_dtl h2 {
	font-size: 27px;
	color: #333;
	padding: 0px;
	margin: 0px;
	margin-top:16px!important;
	padding-left: 20px;
}

.win_dtl h2 dfn{
	font-size: 27px;
	color: #ff0000;
	font-style:normal;
}

.win_dt2{
	background:url(../../f_img/batch.png) no-repeat right;
	font-size:18px;
	color: #ff0000;
	font-style:normal;
	height:30px;
	width:98%;
	height:30px; 
	padding-left:10px;
	color:#333;
	margin-top:15px;
	
	
}

.win_dt2 span{color: #fff;
padding-right: 21px;
font-size:16px;
margin-top: 4px;
float: right;}


.win_rgt {
	width:48%;
height:110px;
position:absolute;
top:43px;
right:86px;
background:url(../../f_img/batch_bg.png) no-repeat;
}
.win_img{position: absolute;
top: 65px;
left: 73px;
width: 157px;
height: 108px;
background-size:100% 100%;}
.win_rgt1 {
	width:48%;

position:absolute;


}
.bc_img{
height:100px;
}
.win_img1{position: absolute;

background-size:100% 100%;}

.win_img img{
background-size:100% 100%; width: 157px;height: 108px;padding-top: 17px;

}
.live_image1 {
width: 228px;
height: 156px;
padding-top: 69px;
padding-left: 72px;
}

}
.right_now_point.text_abc dfn p{text-align:center; width:100%}

table {margin-left: 20px;
       margin-bottom: 20px; width: 700px;}
	   /*tbody tr {border-bottom:1px solid #666!important;}*/
tbody tr td {padding-bottom:5px; padding-right:5px; padding-top:5px;}
tbody tr td:first-child {width:80px;}
.winnercolor { color:#FF0000!important;}
.share{padding-left: 81px;
    padding-top: 210px;}
	.share1padding-left: 20px;
    width: 344px;
    }
.not_mh1{  color: #009900 !important;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: -30px;
    padding: 0 0 0 44px;
    text-align: left;
    width: 100%;}
	
	.questionMark {
position:relative;
height:26px; /*dimensions of our image*/
width:26px;
background:url(../../images/questionMark.gif) top left no-repeat;
margin-left: 417px;
margin-top: -26px;
}
.toolTip {
position:absolute;
left:26px; /*Moves it to the right beside the question mark*/
top:0;
display:none;
z-index:999;
/*The attributes below make it look pretty*/
width:300px;
padding:5px;
border:1px solid #ffffff;
background-color:#eeeeee;
font:10px/12px Arial, Helvetica, sans-serif;
}
.justifyed_text
{
text-align:justify;
text-justify:inter-word;
line-height:2;
}


    .loginButton{
          	float: right;
min-height: 28px;
margin: 1px 24px 1px -3px;
margin-top: 9px;
      }


      .loginButton p{
      	margin: 10px 10px 0 0px;
      	float: left;
      }

      .loginButton p a:link, .loginButton p a:visited{
      	color: #f90028;
      }

      .loginButton p a:hover, .loginButton p a:active{
      }

      .loginButton .sub_rgt{
      	float: left;
      	background-color: #f90028;
      	padding: 8px 15px;
      	color: white;
      	border: none;
      	margin: 2px 0px 0 5px;
      }

      .loginButton .sub_rgt:hover{
      	background-color: #eee;
      	color: #f90028;
      }
      
      #frm .questionMark{
			top: -16px;
      }

 @media screen and (min-width: 480px) and (max-width: 1023px) {

      .right_now_point{
        width: 50% !important;
        float: left;
        min-height: 95px;
      }
      
      #frm .questionMark{
			position: absolute;
			left: -90px;
			top: 160px;
      }

    	.loginButton{
      	float: right;
      	min-height: 50px;
      	margin: 0 53px 0 0;
      }

      #logo{
      	text-align: center;
      	display: block;
      	margin: 0 0 30px 0;
      }

      .facebook{
      	display: none;
      }

    }      
/*
	Start Edit By ASB 14-4-14
*/

.scoreBoard{
	
}

.scoreBoard h3{
	font-size: 26px;
	color: #fd2f51;
	background-color: #010101;
	text-align: center;
	padding: 20px;
	margin: 0 0 0 0;
}

.scoreBoard ul{
	width: 100%;	
	margin:0px;
	padding: 0px;
	list-style: none;
}


.scoreBoard ul li{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	padding: 1% 3% 0%;
	color: white;
	width: 50%;
	margin: 0px;
	float: left;
	background-color: #333;
	border-bottom: 1px solid #555;
	border-right: 1px solid #555;
}

.scoreBoard ul li:hover{
	background-color: #222;
}


@media only screen and (max-width: 40em) {
	.scoreBoard ul li{
		width:100%;
		float:none;
		min-height: 40px;
	}
}

.scoreBoard ul li p{
	float: left;
}

.scoreBoard ul li div{
	text-align: right;
}

.scoreBoard ul li div span{
	color:#fd2f51;
}




.scoreBoard footer{
	padding: 10px 30px;
	text-align: center;
	background-color: #333;
}

.scoreBoard footer a{
	text-align: right;
	display: inline-block;
	float: right;
	color: #fd2f51;
}

.scoreBoard footer p{
	color: white;
}

.marginRight0{
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.marginLeft0{
	margin-left: 0px !important;
	padding-Left: 0px !important;
}

.offerArea{
	font-family: Gabriola, serif;
	background-color: #444;
	padding:32px 10px;
	color: white;
	text-align: center;
}

.offerArea h4{
	font-size: 19px;
	letter-spacing: 0px;
	font-weight: bold;
	font-size: 40px;
}

.offerArea h3{
	font-size: 40px;
	margin: 0px;
	font-weight: bold;
}

.offerArea h3 span{
	font-size: 66px;
	color: #d82731;
}

.offerArea table{
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-size: 30px;
}

.offerArea table tr{
	padding: 0px;
	margin: 0px;
}

.offerArea table tr th{
	padding: 0 0 10px 0;
	text-align: center;
	border-bottom: 1px solid #111;
}

.offerArea table tr td{
	padding: 10px 0;
	margin: 0px;
	width: 50%;
	font-size: 28px;
}
.form_captcha1 {
margin-bottom: 1.5%;
margin-left: 34%;
height: 47px;
border-radius: 4px;
padding: 0px;
margin-top: -2px;
width: 263px;
}
#tccc {
color: #FF0000;
text-align: center;
padding-left: 306px;
float:left;
}
.ptcc
{
text-align:justify;
text-justify:inter-word;
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
.container_clr{width:100%;}
	#frm .questionMark{
		left: -165px !important;
		position: absolute;
		top: 150px;
	}
}


@media screen and (min-width: 1024px) and (max-width: 1100px) {
	#frm .questionMark{
		left: -85px !important;
		position: absolute;
		top: 165px;
	}
}	

/*
	END Edit By ASB 14-4-14
*/
.pre_postpaid{}
.pre_postpaid > label:first-child{width:33%; text-align:right;}
.pre_postpaid > label{float: left; padding-top: 10px; text-align: left; width:25%;}
.pre_postpaid > input{float: left;  width: 7%;}


@media screen and (min-width: 480px;) and (max-width:768px;){
.container_clr{width:100%;}

}
.moB_nav_bar{display:none;}
.pre_postpaid > input[type="radio"]{ margin-top: 13px;}
.sin_up_fld .wdt_int{padding: 6px 2%;}
.sign_up_v .questionMark{margin-left: 658px; top: -11px !important;}
.sign_up_v .form-group{float:left; width:100%;}
.sign_up_v  .pre_postpaid > input[type="radio"]{}
.sign_up_v {position:relative;}
.sign_up_v .loginButton > p{margin:-9px 10px 0 0;}
.sign_up_v .span_error1{margin-left: 240px;}
.sign_up_v .pre_postpaid > label:first-child{width:28%;}
.sign_up_v .pre_postpaid > input[value="Prepaid"]{ margin-left: 28px;}
.sign_up_v .pre_postpaid > label{width:14%;}


@media screen and (min-width: 320px) and (max-width: 479px){
body{padding-top:0; background-image:none !important;}
.nav_bg_clr .active a{margin-right: 0px;}
.facebook, .tab_nav_bar, .tab_logo_sec{display:none;}
.row  #logo{margin-bottom:20px; float:left;}
.page_background .row  > .col_mrg{display:none;}
.moB_nav_bar{display:block; background:#fff ; border:0;}
.moB_nav_bar .navbar-header .navbar-toggle{ margin-right: 45px; margin-top: 3%; border-color: #A0A0A0;}
.moB_nav_bar .navbar-header .navbar-toggle span {background: #f00 !important;}
.moB_nav_bar ul.navbar-nav {background:#000 !important; margin:0px;}
.moB_nav_bar ul.navbar-nav li{text-align:center;}
.moB_nav_bar ul.navbar-nav li:hover, .moB_nav_bar ul.navbar-nav li:focus{background:#D82731;}
.moB_nav_bar ul.navbar-nav li.active a{background:#D82731 !important; font-weight:bold; color:#fff;}
.moB_nav_bar ul.navbar-nav li a, .moB_nav_bar ul.navbar-nav li a:link, .moB_nav_bar ul.navbar-nav li a:hover{font-weight:bold; color:#fff;}
.moB_nav_bar #logo{display:block; width: 70%; }
.moB_nav_bar #logo > img{width:100%;}
.index_sign_uP .span_error1{font-size: 12px;  margin-left: 100px;}
.index_sign_uP label, .index_sign_uP  .exampleInputEmail1{ font-size: 12px; width: 25%;}
.index_sign_uP  .exampleInputEmail1:first-child{ font-size: 12px; width: 25% !important;}
.pre_postpaid > input{width:8%; margin-top:1px;}
.pre_postpaid {  clear: both; float: left;  padding-bottom: 13px; width: 100%;}
.page_background .col_mrg_2 .myrig #l_score2 .right_now_point:last-child{display:none;}
.offerArea table tr td{ font-size: 18px;}
.offerArea table , .offerArea h3{  font-size: 19px;}
.offerArea h3 span{ font-size: 40px;}
.offerArea h4{font-size: 28px;}
.index_p_heading{font-size: 20px;}
.pre_postpaid input[value="Prepaid"]{margin:13px 0 0 15px;}
.log_rgt{width: 26%;  margin-top: 3px}
.login_span {padding: 0 0 0 2%; width:98%;}
.login_span a{margin-left:0 !important;}
.sin_up_log .self_error1{ margin-left: 0;}
.sin_up_log .fr_sub_rgt{margin: 5px 5% 10px 50.3%;}
.sin_up_log .fgt_ps{top: 257px !important; right: 224px !important;}
.suggetion .sin_up_log{box-shadow: -3px 4px 5px 0 rgba(50, 50, 50, 0.0);}
.suggetion .sin_up_log .sin_up_fld{border:0; box-shadow: -3px 4px 5px 0 rgba(50, 50, 50, 0.0);}
.how_it_work_fild .sin_up_log  #email_error2{ font-size: 11px; margin-left: 93px !important;}
.sin_up_fld .capcha .form_captcha1{width: 57%;}
.pre_postpaid input[type="radio"]{box-shadow: -3px 4px 5px 0 rgba(50, 50, 50, 0.0);}
#forgot {margin-left: 44px;text-decoration: underline;}
.sign_up_v label{width:100%; text-align:left; height:auto; margin:8px 0;}
.sign_up_v .wdt_int{margin:0; width:100%;}
.sign_up_v .pre_postpaid > label:first-child{width:100%; text-align:left;}
.sign_up_v .pre_postpaid > input[ type="radio"]{margin: 13px 5px 0 0 !important;}  
.sign_up_v .pre_postpaid > label{width: 28%; margin:0}
.sign_up_v .capcha{margin:8px 0;}
.sign_up_v .loginButton .sub_rgt{width:100%;}
.sign_up_mob_v{margin: 10px 3%; width: 86%; float:left;}
.sign_up_v .span_error1{margin-left:0px; margin-top:5px;}
.howIt_w{ float: left; padding: 0 0 0 2%; width: 98%;}
ul.work_stp{ float: left;  padding: 0;}
ul.work_stp > li{width:100%;}
ul.work_stp >li >p{margin: 0; padding:8px 0 0 2%; width: 98%;}
.sign_up_v .questionMark{display:none;} 
.container_clr{overflow:hidden !important;}
.container_clr > .page_background  .padng_lft3 .team_list .fb_cmt{display:none;} 
.sign_log_p{float:left; margin:0px; width:100%;}
.sign_log_p .frm_log{float:left; width:90%; margin: 0 1%;}
.sign_log_p .form-group label {width:100%; float:left; height:auto; margin:0px; text-align:left;}
.sign_log_p .form-group input {width:100%; float:left;}
.sign_log_p .form-group{margin-bottom:8px; float:left; width:100%;}
.login_fgt_box{width:100% !important; float:left;  margin-top: 8px; padding:0!important;}
.login_fgt_box button {width:100%; float:left; padding:6px 0; margin:5px 0;}
.news_fild_w{border:0;}
.news_fild_w > .how_it_work_step{width:100% !important; border:0; -3px 4px 5px 0 rgba(50, 50, 50, 0.0); }
.news_fild_w > .how_it_work_step li table{margin:0;}
.news_fild_w > .how_it_work_step li{width:90%; clear:both;}
.winner_wrpr{ border: none;  box-shadow: -3px 4px 5px 0 rgba(50, 50, 50, 0.0); margin: 0 1%; width: 94%;}
.winner_wrpr .win_lft{width:98%; float:left; margin: 30px auto 0 auto;}
.winner_wrpr .win_lft .win_dtl{float:left; height: auto;  margin-left: 0; width: 98%;}
.winner_wrpr .win_lft table{margin:0; width:100%; float:left;}
.winner_wrpr .win_lft .win_rgt{ position: relative; top: 12px; left: 109px; }
.winner_wrpr .win_lft .win_rgt .win_img{   left: 0;  position: relative;  top: 0; width:100%; float:left;}
.winner_wrpr .win_lft .win_rgt .win_img img{  float: left; height: auto; margin:35px 10% 0 10%; position: relative; right: 0;  top: -0; width: 80%;}
.winner_wrpr .win_lft .win_dtl i{padding-left: 19px;}
.winner_wrpr .win_lft .win_dtl p, .winner_wrpr .win_lft .win_dtl .win_dt2{font-size: 14px;}
.winner_wrpr .win_lft .win_rgt p.share{padding-left: 11px; padding-top: 184px;}
.winner_wrpr .win_lft .win_lft td div.win_rgt1{display:none;}
.winner_wrpr .win_lft .win_lft table img.live_image1{  height: auto;  padding:0; width: 70%;}
.winner_wrpr .win_lft .win_lft .win_dt2 > span{color: #FFFFFF;font-size: 12px; padding-right: 15px;}
.winner_wrpr .win_lft .win_lft  h2 + .win_dt2 {font-size:2px; float:right; clear:both;}
.winner_wrpr .win_lft .win_dtl h2{ font-size: 22px; padding-Left:0; text-align:right;}
.login_view_all{display: block; float: left;  margin: 25px 34% 0 !important;  width: 31%;}
.mob_live_board  #live_score  > #score9 h1, .mob_live_board  #live_score  > #score9 h2, .mob_live_board  #live_score  > #score9 h3, .mob_live_board  #live_score  > #score9 h4, .mob_live_board  #live_score  > #score9 h5, .mob_live_board  #live_score  > #score9 h6{float:left; width:100%;}
.mob_live_board  .padng_lft3 .team_list  ul li{font-size:13px;}
.mob_live_board  .padng_lft3 .team_list  ul li:nth-of-type(4){display: block; width: 40%;}
.mob_live_board  .padng_lft3 .team_list  ul li:nth-of-type(3){ width: 35%;}
.mob_live_board  .padng_lft3 .team_list  ul li:nth-of-type(1), .mob_live_board  .padng_lft3 .team_list  ul li:nth-of-type(2){ display:none;}
.liv_team{float:left;} 
.log_liv_scr{display: block;width: 30%;float: left;margin: 10px 35%;}
.liv_login_pop{ margin-left: -149px !important;  width: 90% !important;}
.liv_login_pop > table{    color: #FFFFFF;  font-size: 12px;  margin-bottom: 20px; margin-left: 0; width: auto;}
.liv_login_pop > table tbody tr td:first-child{display:none;}
.us_login_pop{margin-left: -149px !important;  width: 90% !important;}
.us_login_pop> table{    color: #FFFFFF;  font-size: 12px;  margin-bottom: 20px; margin-left: 0; width: auto;}
.us_login_pop > table tbody tr td:first-child{display:none;}
.us_login_pop > table tbody tr:first-child  th:first-child div{padding: 15px 0;}
} 
