.ddsmoothmenu{
	/*background:url('../images/nav-bg.jpg') repeat-x left top;
	float:left;
	width:980px;	
	height:48px;
	z-index:2000;*/
}

.ddsmoothmenu ul{
	z-index:2000;
	margin: 0;
	list-style-type: none;
	padding:0px 0px 0px 0px;
	
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
	padding: 0px 2px 0px 0px;
}
 .last_static {
	
	color: #ffffff;
font-size: 16px;
width: 204px;
margin-top: 20px;
float: right;
	
		}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	color: #ffffff;
	text-decoration: none;
	padding: 0px;
	float: left;
	cursor:pointer;
	display: block;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
.ddsmoothmenu ul li a:visited{
	color: none;
}

.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.active {
	/*background:url(../images/menu_left_hover.jpg) top left no-repeat;*/
	color: #fff;
	text-decoration:none;
}

.ddsmoothmenu ul li a:hover span, .ddsmoothmenu ul li a.active span  {
	/*background:url(../images/menu_right_hover.jpg) top right no-repeat;*/
	color: #fff!important;
	text-decoration:none;
}
.ddsmoothmenu ul li a:hover{
	background:url('../images/nav-hover-bg.jpg') repeat-x left top;
	color: #fff;
	text-decoration: none;	
}
.ddsmoothmenu ul li ul li a:hover, .ddsmoothmenu ul li ul li a.active {
	background-color:#000!important;
	color: #fff!important;
	text-decoration:none;
	z-index:1001;
}

.ddsmoothmenu ul li ul li a:hover span, .ddsmoothmenu ul li ul li a.active span  {
	background-color:#000!important;
	color: #eee!important;
}
.ddsmoothmenu ul li.last ul li a:hover, .ddsmoothmenu ul li.last ul li a.active {
	background:none;
	color:#026b96;
	background-color:#4a4741;
	text-decoration:none;
}


.ddsmoothmenu li.last {
	float: left;
	padding: 0px 0px 0px 17px;
	background:none;
}

.ddsmoothmenu li.last a span {
	display: block;
	float: left;
	color:#FFFFFF;	
}
.ddsmoothmenu li.last a:hover, .ddsmoothmenu li.last a.active {
	color: #fff;
	/*background:url(../images/menu_left_hover.jpg) top left no-repeat;*/
	}

.ddsmoothmenu li.last a:hover span, .ddsmoothmenu li.last a.active span  {
	color:#1e1d1d;
	/*background:url(../images/menu_right_hover.jpg) top right no-repeat;*/
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background:none;
	margin: 0px 0px 0px 0px;
	/*min-height: 280px;*/
	padding: 0px;
	z-index:1002!important;
}
.ddsmoothmenu ul li ul.pac_nav{
	left:-117px!important;
	}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	background:url('../images/nav-bg.jpg') repeat-x left -10px!important;
	border-bottom:1px solid #565656;
	padding:0px;
	height:48px;
	line-height:48px;

}
.ddsmoothmenu ul li ul li a:hover{
	background-position:left -9px!important;
	background:url(../images/nav-hover-bg.jpg) repeat-x left top;
	}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */


/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font: normal 12px  Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	width: 220px; /*width of sub menus*/
	padding: 4px 5px 4px 10px!important;
	height:auto;
	line-height:40px;
	z-index:1000;
	text-align:left!important;
}

.ddsmoothmenu ul li ul li a:link{
	color:#ffffff;
}

.ddsmoothmenu ul li ul li a:visited{
	color:#ffffff;
}

.ddsmoothmenu ul li ul li a:hover{
	color:#ffffff;
	background-color:#000!important;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
display:none;
top: -9000px;
right: 7px;
}

.rightarrowclass{
position:relative;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: none;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}
.active
{
	background:url('../images/nav-hover-bg.jpg') repeat-x left top;
	color: #fff;
	text-decoration: none;	
}