*{margin:0px; padding:0px; outline:none;}
body{font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px; background-color:#fdfdfd;}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
    outline:none;
    border:none;
}
@font-face {
    font-family: 'Conv_MyriadPro-SemiboldSemiCn';
    src: url('../fonts/MyriadPro-SemiboldSemiCn.eot');
    src: local('../fonts/MyriadPro-SemiboldSemiCn.eot'), url('../fonts/MyriadPro-SemiboldSemiCn.woff') format('woff'), url('../fonts/MyriadPro-SemiboldSemiCn.ttf') format('truetype'), url('../fonts/MyriadPro-SemiboldSemiCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/CALIBRI.eot');
    src: local('../fonts/CALIBRI.eot'), url('../fonts/CALIBRI.woff') format('woff'), url('../fonts/CALIBRI.ttf') format('truetype'), url('../fonts/CALIBRI.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
header, nav, section, article, figure, aside, footer, embed, hgroup, video {display: block; margin:0px; padding:0px;}

/*::: Common Css :::*/

img{max-width:100%;}
a{
text-decoration:none; font-size:100%; 
  transition:all 0.4s ease-in-out; 
  -moz-transition:all 0.4s ease-in-out; 
  -webkit-transition:all 0.4s ease-in-out; 
  -ms-transition:all 0.4s ease-in-out; outline:none;
}
a:hover{text-decoration:none;}
ul{list-style:none;}
p{
    line-height:24px;
    text-align:justify;
    padding:0 0 5px;
}

.cl{
    clear:both;
}
.fl{
    float:left!important;
}
.fr{
    float:right!important;
}
.skype{
    display:none;
}
.wrapper{
    display:block;
    margin:0 auto;
    width:1140px
}
.margin_top{
    margin-top:10px;
}
.margin_btm{
    margin-bottom:10px!important;
}
.display{
    display:block;
}
.margin_right{
    margin-right:0!important;
}
.yellow_back{
    background-color:#b79a54;
    color:#fff;
    padding:0 2px;
}
.yellow_back:hover{
    background:none;
    color:#232323;
}
.border_btm{
    border-bottom:1px dashed #f0efef;
}
.align_center{
    text-align:center;
}
.email{
    color:#997d37;
    text-decoration:underline;
}
.padding_top{
    padding-top:0px!important;
}
.yellow_color{
    color:#a5873d;
}
.blue_color{
    color:#143666!important;
}
.verticle_align{
    margin-left:5px;
    vertical-align:text-top!important;
}
.padding{
    padding:0px!important;
}
/*::: Common Css :::*/

/*::: Layout Start :::*/

#logo{
    float:left;
    padding:17px 0;
}
#top_right{
    float:right;
    text-align:right;
    padding:37px 10px 0 0;
    font:normal 48px Verdana, Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform:uppercase;
}
#navi_pan{
    background:url('../images/nav-bg.jpg') repeat-x left top;
    height:63px;
    width:100%;
}
.nav-wrapper{
    background:url('../images/nav-bg.jpg') repeat-x;
    margin:0 auto;
    width:1140px
}
nav{
    position:relative;
}
nav ul{
    background:url('../images/nav-sep.jpg') no-repeat left top;
    height:63px;
}
nav ul li{
    background:url('../images/nav-sep.jpg') no-repeat right top;
    float:left;
    height:63px;
}

/*nav ul li ul{
    position: absolute;
    display: none;
    background:none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    z-index:100;
}

nav ul li:hover ul{
    display:block;
    position:absolute;
    margin-top: 60px;
}

nav ul li:hover ul li{
    background:url('../images/nav-bg.jpg') repeat-x left -10px;
    border-bottom:1px solid #565656;
    padding:0px;
    float: none;
        height:48px;
}

nav ul li:hover ul li a{
    color:#fff;
    display:block;
    float:left;
    font:normal 15px Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    height:48px;
    line-height:48px;
    overflow:hidden;
    margin-right:0px;
    padding:0 24px!important;
    padding:0 22px;
    position:relative;
    white-space:nowrap;
}

nav ul li:hover ul li:hover{
    background-position:left -9px;
    background:url(../images/nav-hover-bg.jpg) repeat-x left top;
}
*/
nav ul li a{
    color:#fff;
    display:block;
    float:left;
    font:normal 15px Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    height:63px;
    line-height:63px;
    overflow:hidden;
    margin-right:0px;
    padding:0 13px!important;
    padding:0 13px;
    position:relative;
    white-space:nowrap;
}
nav ul li a img{
    left:45%;
    position:absolute;
    top:-10px;	
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
}
nav ul li a:hover{
    /*background:url(../images/nav-hover-bg.jpg) repeat-x left top;*/
}
nav ul li a:hover img{
    top:2px;
}
nav ul li a.active img{
    background:url(../images/nav-hover-bg.jpg) repeat-x left top;
    top:2px;
}

.active img{
    background:url(../images/nav-hover-bg.jpg) repeat-x left top;
    top:2px;
}

#banner_pan{
    background:url('../images/bg-yellow.jpg') repeat;
}
#banner{
    background:url('../images/yellow_bg.jpg') no-repeat;
}
.banner-wrapper{
    background:url('../images/bg-yellow.jpg') repeat;
    margin:0 auto;
    width:1140px
}	
#mid_pan{
    background:#f5f5f5 url('../images/bg-mid.jpg') repeat-x;
    width:100%;
}
.mid-wrapper{
    background:#f5f5f5 url('../images/bg-mid.jpg') repeat-x;
    margin:0 auto;
    width:1140px
}
.pad{
    padding-top:30px;
}
.title-bg{
    background:#ededed;
    padding:0px 18px;
    padding:10px;
    border-radius:4px;
    -webkit-border-radius:4px;
	
}	
.title-main{
    background:#fff url('../images/gray-bg.gif') repeat-x bottom;
    border:1px solid #dadada;
    border-radius:3px;
    -webkit-border-radius:3px;
    height:43px;
    font:normal 14px Verdana, Arial, Helvetica, sans-serif;
}
.colmh1{
    height:100%;
    padding-left:3%;
    width:18.5%;
    float:left;	
    border-right:1px solid #fdfdfd;	
    border-left:1px solid #e0e0e0;	
}
.colmh3{
    width:20%
}
.colmh1-last{
    border-right:none;
    width:27%
}
.colm{
    height:100%;
	width:11.2%;
    padding:0px 3.0%;
    float:left;	
    border-right:1px solid #fdfdfd;	
    border-left:1px solid #e0e0e0;	
}
.colm-last{
    border-right:none;
}
.colm-first{
    border-left:none;
}
.colmh1 label{
    float:left;
    padding:12px 10px 13px 0px;
}
.colmh1 .serchm{
    background:url('../images/listbg.jpg') repeat-x left;
    border-radius:3px;
    -webkit-border-radius:3px;
    width:204px;
    margin-top:8px;
    border:1px solid #dadada;
}
.colmh1 .serchm .txt{
    background:none;
    border:none;
    color:#a6a6a6;
    width:155px;
    padding:3px 7px;
    font:normal 15px Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    float:left;	
}
.colmh1 .serchm .go{
    background:url('../images/go.jpg') no-repeat;
    width:34px;
    height:25px;
    border:none;
    cursor:pointer;
}
.colmh1 ul{
    list-style:none;
    padding:10px 0px;
}
.colmh1 ul li{
    float:left;
    padding:0px 5px;
}
.colmh1 ul li a{
    float:left;
    padding:5px 0px;
    background:url('../images/pagin-bg.png') no-repeat center;
    text-align:center;
    width:44px;
    color:#cacaca;
}
.colmh1 ul li a.prev, .colmh1 ul li a.next{
    background:none;
    color:#000;
    width:auto;
}
.colmh1 ul li a.prev:hover, .colmh1 ul li a.next:hover {
    background:none;
    color:#000;
}
.colmh1 ul li a:hover, .colmh1 ul li a.current{
    background:url('../images/pagin-bg-hover.png') no-repeat center;
    color:#fff;
}
.selector{
    width:70px;
    height:22px;
    float:left;
    background:url('../images/drop.jpg') no-repeat right top;
    position:relative;
    border:1px solid #d5d5d5;
    padding:5px 0 0 10px;
	line-height:22px;
    border-radius:3px;
    -webkit-border-radius:3px;
    color:#a6a6a6;
    margin-top:8px;	
	overflow:hidden;
}
.selector span{
    width:190px;
    height:24px;
display: block;
}
.selector select{
    width:218px;
	overflow:hidden;
    height:24px;
    float:left;
    background:none;
    border:none;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    position:absolute;
    top:8px;
    left:0;
    cursor:pointer;
    background:url('../images/listbg.jpg') repeat-x;
}
.colmh{
    padding:0 22px;
    margin-top:1px;
    padding-bottom:8px;
}
.short-div{
    background:#fff url('../images/listbg.jpg') repeat-x left bottom;
    border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:8px;
    border:1px solid #dadada;
    float:left;
    font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	width:100%;
}
.short-div a{
    color:#000;
}
.short-div-lt{
    float:left;
    padding:9px 15px;
}
.colmc{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:116px;
    text-align:center;
    height:24px;
}
.colmc2{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:157px;
	overflow:hidden;

    text-align:center;
}
.colmc3{
    float:left;
    padding:13px 10px;
   /*border-right:2px solid #e0e0e0;*/		
    width:105px;
    height:24px;
    text-align:center;
}
.colmc4{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:101px;
    height:24px;
    text-align:center;
}
.colmc5{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/	
    width:116px;
    height:24px;
    text-align:center;
}
.colmc6{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:123px;
    height:24px;
    text-align:center;
}
.colmc7{
    float:left;	
    border:none;
    height:24px;
}
.cont {
    padding:10px 0px;
}
.colmc7 .search{
    /*border-right:2px solid #e0e0e0;	*/
    float:left;
    padding:13px 10px;
    width:43px;
    text-align:center;
    height:24px;
}
.row{
	/*background:url('../images/row_bg.png') repeat-y left top;*/
    float:left;
    border-bottom:1px solid #e0e0e0;
    line-height:18px;
    font-weight:bold;
}
.row div{
	min-height:25px;
	}
.rowlast{
    border-bottom:none;
}
.col-wt{
    background-color:#fff;
    float:left;
    width:100%;
    margin-top:1px;
}

#mid-cont{
    padding:30px 0px;
}
#mid-cont .mid-ctr{
    background:url('../images/mid-ctr.gif') repeat-x top;
}
#mid-cont .mid-lt{
    background:url('../images/mid-lt.gif') no-repeat left top;
}	
#mid-cont .mid-rt{
    background:url('../images/mid-rt.gif') no-repeat right top;
    -moz-box-shadow:5px 5px 5px 5px #000;
}
.main-table{
    margin:5px 18px;
    border:1px solid #dadada;
    border-top:none;
}


#footer_pan{
    background:#363436 url('../images/futer-bg.jpg') repeat-x;
    color:#fdfdfd;
    line-height:18px;
}

#footer_pan a{ 
    color:#FDFDFD;
}

.futer-wrapper{
    background:#363436 url('../images/futer-bg.jpg') repeat-x;	
    margin:0 auto;
    width:1140px
}
.foot_logo{
    background:url('../images/logo-futer.png') no-repeat right 0px;
}
.futer-lt{
    padding:5px 0px 10px 19px;
}
.futer-lt h3{
    font:bold 22px Verdana, Arial, Helvetica, sans-serif;
    padding:10px 0px;
}

/*Add Invoice*/
.head{
    width:100%;
    text-align:left;
    padding:17px 40px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
}
/*
.form-add input[type="text"] {
    background:url(../images/input-bg.png) no-repeat left top;
    width:305px;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.form-add input[type="text"]:focus{
    background:url(../images/input-bg-r.png) no-repeat left top;
}
.form-add .input-r{
    background:url(../images/input-bg-r.png) no-repeat left top!important;
    width:305px;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.listbg{
    background:url(../images/input-bg.png) no-repeat left top;
    width:324px;
    height:53px;
    float:left;
}
.selector2{
    width:297px;
    height:53px;
    float:left;
    background:url(../images/drop3.jpg) no-repeat right top;
    position:relative;
    padding:3px 0 0 15px;
    color:#828080;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    margin-top:12px;	
}
.selector2 span{
    width:150px;
    height:24px;
}
.selector2 select{
    width:324px;
    height:34px;
    float:left;
    background:none;
    border:none;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    position:absolute;
    top:0px;
    left:6px;
    cursor:pointer;
}
.form-add .ad-head{
    width:88%;
    margin-left:156px;
    background:url(../images/add-shade.png) no-repeat bottom left;
    float:left;
    padding:10px 0px 30px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.form-add .ad-head .one{
    width:324px;
    float:left;
}
.form-add .ad-head .two{
    width:110px;
    float:left;
}
.form-add .ad-head .three{
    width:143px;
    float:left;
}
.input2{
    background:url(../images/listbg2.png) no-repeat left top!important;
    width:96px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input2:focus{
    background:url(../images/listbg2-r.png) no-repeat left top!important;
}
.input2-r{
    background:url(../images/listbg2-r.png) no-repeat left top!important;
    width:96px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3-r{
    background:url(../images/listbg3-r.png) no-repeat left top!important;
    width:128px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3{
    background:url(../images/listbg3.png) no-repeat left top!important;
    width:128px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3:focus{
    background:url(../images/listbg3-r.png) no-repeat left top!important;
}
.add-right-mn{
    float:left;
    width:85%;
}
.add-right{
    float:left;
    text-align:center;
}
.add-right span{
    float:left;
    color:#d51616;
    font:normal 13px Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    overflow:hidden;
}
.add{
    background:url('../images/add-new.png') no-repeat;
    width:72px;
    height:23px;
    border:none;
    margin-top:15px;
    cursor:pointer;	
}
.total{
    padding-left:392px;
    float:left;
}
.send{
    background:url(../images/send.png) no-repeat;
    width:100px;
    height:38px;
    border:none;
    cursor:pointer;	
    margin-left:5px;
}*/
#form-add .rowone{
    margin:0px 0px;
    clear:both;
}

.form-add{
    padding:20px 40px;	
    float:left;
}
.form-add .rowone{
    margin:0px 0px;
    clear:both;
}
.form-add label{
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#1c1c1c;
    width: 233px;
    float:left;
    padding:10px 0px;
}
.form-add input[type="text"] {
    background:url('../images/input-bg.png') no-repeat left top;
	padding: 15px 0 13px 15px;
    text-decoration: none;
    width: 479px;
    height:22px;
    border:none;
    padding:15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
	float:left;
	text-decoration:none;
}
.form-add input[type="text"]:focus{
    background:url('../images/input-bg-r.png') no-repeat left top;
}

.form-add input[type="password"]{
    background:url('../images/input-bg.png') no-repeat left top;
    height:22px;
    border:none;
    padding:15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
    width:305px !important;
}
.form-add input[type="password"]:focus{
    background:url('../images/input-bg-r.png') no-repeat left top;
}

.form-add .input-r{
    background:url('../images/input-bg-r.png') no-repeat left top!important;
    width:305px;
    height:42px;
    border:none;
    padding:8px 6px 0 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:6px;
}
.listbg{
    background:url('../images/input-bg.png') no-repeat left top;
    width:324px;
    height:53px;
    float:left;
}
.selector2{
    width:297px;
    height:53px;
    float:left;
    background:url('../images/drop3.jpg') no-repeat right top;
    position:relative;
    padding:3px 0 0 15px;
    color:#828080;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    margin-top:12px;	
}
.selector2 span{
    width:150px;
    height:24px;
}
.selector2 select{
    width:324px;
    height:34px;
    float:left;
    background:none;
    border:none;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    position:absolute;
    top:0px;
    left:6px;
    cursor:pointer;
}
.form-add .ad-head{
    width:88%;
    margin-left:156px;
    background:url('../images/add-shade.png') no-repeat bottom left;
    float:left;
    padding:10px 0px 30px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
}
.form-add .ad-head .one{
    width:324px;
    float:left;
}
.form-add .ad-head .two{
    width:110px;
    float:left;
}
.form-add .ad-head .three{
    width:143px;
    float:left;
}
.input2{
    background:url('../images/listbg2.png') no-repeat left top!important;
    width:96px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input2:focus{
    background:url('../images/listbg2-r.png') no-repeat left top!important;
}
.input2-r{
    background:url('../images/listbg2-r.png') no-repeat left top!important;
    width:96px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3-r{
    background:url('../images/listbg3-r.png') no-repeat left top!important;
    width:128px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3{
    background:url('../images/listbg3.png') no-repeat left top!important;
    width:128px!important;
    height:53px;
    border:none;
    padding:0px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
}
.input3:focus{
    background:url('../images/listbg3-r.png') no-repeat left top!important;
}
.add-right-mn{
    float:left;
    width:85%;
}
.add-right{
    float:left;
    text-align:center;
    width:850px;
}
.add-right img{
    float:left;
	margin-top:20px;
}
.add-right span{
    float:left;
    color:#d51616;
    font:normal 13px Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    overflow:hidden;
}
.add{
    background:url('../images/add-new.png') no-repeat;
    width:74px;
    height:23px;
    border:none;
    margin-top:15px;
    cursor:pointer;	
}
.total{
    padding-left:392px;
    float:left;
    width:390px;
}
.send{
    background:url('../images/send.png') no-repeat;
    width:100px;
    height:38px;
    border:none;
    cursor:pointer;	
    margin-left: -211px;
    text-indent:100px;
	float:left;
}

.draft {
    background: url("../images/draft.png") no-repeat scroll 0 0 transparent;
    border:none;
    cursor: pointer;
	display:block;
    height: 38px;
    width: 100px;
	float:left; 
	margin-left:80px;  
	text-indent:100px; 
}

.cancel {
    background: url("../images/cancel.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    width: 100px;
    margin-left: 190px;
    margin-top: -38px;
    display:block;
    text-indent:100px;
    color:#FFFFFF;
}
.search_btn{
    background: url("../images/btnsearch.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin-left: 115px;
    width: 100px;
    text-indent:100px;
}
.reset_btn{
    background: url("../images/reset.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin-left: 15px;
    width: 100px;
}
.add_more {
    background: url("../images/add-more.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin-left: 0px;
    width: 100px;
}

.btn_save{
    background: url("../images/save.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin-left: 0px;
    width: 100px;
    text-indent:100px;
	 padding-top: 21px;
}

.btndelete{
    background: url("../images/btnbg.png") no-repeat scroll 0 0 transparent;
    border:none;
    cursor: pointer;
    margin: 18px 0 0 15px;
    padding: 10px;
    color:#fff;
    font-weight:bold;
    height: 38px;
    width: 70px;

}

.btn_submit{
    background: url("../images/submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin-left: 0px;
    width: 100px;
    text-indent:-9999px;
	display:block;
	float:left;
}

.form-add .areabg{
    background: url("../images/textarea-bg.png") no-repeat scroll left top transparent;
    float:left;
    height: 68px;
    width: 300px;
    max-width:300px!important;
    padding:10px;
}

.form-add .areabg textarea{	
    border: medium none;
    color: #828080;
    font: 16px/18px Verdana, Arial, Helvetica, sans-serif;
    height: 68px;
    width: 300px;
    max-width:300px!important;
    background:none;
}

.form-add .areabg-r{
    background: url("../images/textarea-bg-r.png") no-repeat scroll left top transparent;
    float:left;
    height: 68px;
    width: 300px;
    max-width:300px!important;
    padding:10px;
}

.form-add .textarea-r{	
    background:url('../images/textarea-bg-r.png') no-repeat left top!important;
    width:305px;
    height:78px;
    border:none;
    padding:8px 6px 10px 15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:6px;
    margin:-10px 0px 0px -10px;
}

.error{color:#FF0000;}
.sucessmess{color:#006633;}
.view_all{
    float:right; 
    margin:15px 14px 0 0px; 
    padding:0px; 
    display:block;
}

.xyz{margin-left: 150px;}
#button1{margin-left: 550px;}
label.error{
   color: #FF0000;
    display: block;
    float: right;
	margin-left: -169px;
    margin-top: 0px;
    text-align: right;
    width: 194px !important;
}

/*textarea{
    max-width: 305px; 
    min-width: 305px; 
    max-height:46px; 
    min-height:46px;
}
label.error{
        color: red;
        display: block;
        float: none;
        margin-left: 303px;
        margin-top: -33px;
        padding-left: 0.5em;
        vertical-align: top;
        width: 200px;
}*/
.errorcl{ border: 1px red solid;}
.welcome{
    color: #000;
    font: 40px Verdana,Arial,Helvetica,sans-serif;
    padding: 0px;
    text-align: left;
    text-transform: uppercase;
	margin-left: -71px;
margin-top: -128px;
}
.add_client{float:right; display:block; margin:10px 40px 0 0; width:100px;}
#newaddinv .search{
padding: 13px 2px!important;
width:33px!important;
}

.colmcClient5{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/	
    width:116px;
    height:24px;
	overflow:hidden;
    /*text-align:center;*/
}

.colmcClient3{
    float:left;
    padding:13px 10px;
   /*border-right:2px solid #e0e0e0;*/		
    width:105px;
    height:24px;
	overflow:hidden;
    /*text-align:center;*/
}

.colmcClient6{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:123px;
    height:24px;
	overflow:hidden;
}

.colmcClient4{
    float:left;
    padding:13px 10px;
    /*border-right:2px solid #e0e0e0;*/		
    width:101px;
    height:24px;
	overflow:hidden;
}

/*--------------------------------------hello there------- - */
#abc{
	background:url(../images/input-bg.png) no-repeat;
width: 318px !important;
height:47px !important;
border: 0;
float: left;
padding-left: 10px;
padding-top:9px;


}
.area{
background: url(../images/input-bg.png) no-repeat;
width: 324px !important;
height: 120px !important;
border: 0;
float: left;
background-size: 100% 100%;
padding-top: 19px;
padding-left: 10px;
}
.pre_next {
	height:20px;
	width:180px;
	float:right;
	margin-right:10px;
}
.pre_next ul{min-width:180px;
list-style-type:none;
height:20px; margin:0px; padding:0px;
}

.pre_next ul li{min-width:30px;
width:auto;
list-style-type:none;
height:20px; margin:0px; padding:0px 10px 0 10px;
display:inline;
}
#form-add input[type="text"] {
    background:url('../images/input-bg.png') no-repeat left top;
    width:305px;
    height:22px;
    border:none;
    padding:15px;
    font:normal 16px Verdana, Arial, Helvetica, sans-serif;
    color:#828080;
    padding-right:0px;
	float:left;
	text-decoration:none;
}
.manas{
 
    border:none;
    color:#a6a6a6;
    width:191px;
    padding:3px 7px;
    font:normal 15px Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    float:left;	
	}
	.manas_div{
    float:left;
    padding:9px 59px;
}

	
.filedset_new {

border: thin solid rgb(0, 0, 0);
margin-top: 0px;
padding: 0px 0px 0 229px;
width: 76%;
}	
	.lable_style12{
font-weight: bold;
margin-left:-254px;;
	}
	.payment_size
	{
		
margin-left: 0px;
font-weight: bold;
	}
	
		
	.lable_margin11 {
font-weight: bold;
padding: 10px 77px;
margin-left:  16px;
	}
	
	
	.lable_margin12 {
font-weight: bold;
padding: 10px 77px;
margin-left:  42px;
	}
	
	.hyperlink_aa
	{
		text-align:right; width: 100%; 
		float:right;
	}
	.hyperlink_aaa {
text-align: right;
float: right;
width: 13%;
margin-top: 0px;
margin-right: 24%;
	}
	.legend1{  
	text-align:center;
	margin-left: 118px;
	font-size:18px;
	}
.payment_size1 {
margin-left: -230px;}

.tournament_div{
    float:left;
    padding: 9px 22px;
}
.team1{
   color: #1C1C1C;
    float: left;
    font: 16px Verdana,Arial,Helvetica,sans-serif;
    padding: 10px 0;
    width: 296px;}
	
.serror {
color: #FF0000;
display: block;
float: right;
margin-left: -186px;
margin-top: 0px;
text-align: right;
width: 177px !important;
}	
.header1{
	float: left;
padding: 9px 11px;}
.dropdown1{
width: 212px;
height: 28px;
margin-left: -23px;
margin-top: -1px;}

.flatclass
{
	float:right!important;
}
.manage_text {text-align:center; font:15px/63px Verdana,Arial,Helvetica,sans-serif; float:right;}
.manage_text a{padding-right:10px;}

