/* CSS Document */

.mrg_lft{margin-left:0% ; width:81.359%;}
.add_small_rgt {float:right; margin:0px; padding:0px; height:auto; background:100% 100%; margin-top:0.7%;}
.add_small_lft {float:left;  margin: 11% 0 0 9%; padding:0px; height:auto; background:100% 100%; }
.wlcm_text{text-align:center; }
.mrg_lft_2{margin-left:0% !important;}
.bg_clr{ background:#fff; padding-bottom:5px;}
.select_team_lft{float: left; width: 75%;}
.select_team_lft input[class="search_bg"]{background:#F80029 !important; color:#fff !important; border:#C80000 1px solid !important;}
.select_team_lft input[class="search_bg"]:hover{background:#C80000 !important;}
.select_team_rgt{width:100%; float:right; font-size:12px; color:#333333; text-align:right;}
.search_bg{ background:url(../images/search.jpg) no-repeat; border: 1px solid #CCCCCC;float: right; margin: 1px 0 0 2px; padding: 5px; background-size: 100% 100%}
.submit_box{width:80%; float:right; padding:2}
.submit_bg{ background:url(../images/search.jpg) no-repeat; padding:2px; margin:8px 10% 2% 0; padding:3px; float:right;}
.latest_status{width:100%; float:left;}
.latest_status ul{width:100%; float:left; margin:0px; padding:8px; }
.latest_status ul li{width:100%; float:left; margin:0px; padding:3px;  list-style-type:none; display:inherit}
.latest_status ul li .lft {width:50%!important;float:left; margin:0px; padding:0px; }
.latest_status ul li .rgt {width:50% !important; float:left; margin:0px; padding:0px; }
.match_rules{width:100%; float:left;}
.match_rules ul{width:100%; float:left; margin:0px; padding:8px 0; }
.match_rules ul li{width:100%; float:left; margin:0px; padding:10px 0;  list-style-type:none; display:inherit; border-bottom:1px solid #CCCCCC;}
.match_rules ul li:last-child{border-bottom:0px;}


.team_list_rgt{width:28%; margin: 0px; padding:0px; float: left;}
.your_team{background:#FED4FE; width:30%; padding:0px; float: left; border:1px solid #FED4FE; border-radius:5px; margin-top:58px; margin-left: 2.5641%; font-size:13px;}
.your_team h2{text-align:center; color:#000; text-decoration:underline; padding-top:0px;} 
.your_team p{ color:#333;  padding: 5px 2%;}
.your_team p:nth-child(2n+0){background-color: #f8f8f8;  padding: 15px 2%;}
.your_team p:nth-child{padding-bottom:0px; }
.your_team p dfn{ float:right; color:#333; font-style:normal; } 
.abc_bdr{ border-bottom:1px solid #ccc ; width:80%; float:left}
.black{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 10000px;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.20;
        filter: alpha(opacity=80);
    }

.my_score_board{width:100%;float:left; margin:0px; padding:0px;}
.serror{color: red;font-size: 14px; font-style: italic;}
.sn_list{width:5%;float:left; margin:0px; padding:0px; display:block!important}
.sn_list ul{list-style-type:none; padding:5px; float:left; width:100%}
.sn_list ul li{ float:left;list-style-type: none; padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-right:0px;}
.sn_list ul li:last-child{border-bottom:1px solid #ccc;}
.sn_list ul li:nth-child(2n+1){background-color: #f8f8f8;}

.plyer_name{width:35%;float:left; margin-left:30px; margin-top:5px;}
.plyer_name ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 25px;}
.plyer_name ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-left:0px; border-right:0px;}
.plyer_name ul li:last-child{border-bottom:1px solid #ccc;}
.plyer_name ul li:nth-child(2n+1){background-color: #f8f8f8;}

.player_run{width:14%;float:left; margin-left:29px; margin-top:5px;}
.player_run ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 20px;}
.player_run ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px;border-bottom:0px; border-left:0px; border-right:0px;}
.player_run ul li:last-child{border-bottom:1px solid #ccc;}
.player_run ul li:nth-child(2n+1){background-color: #f8f8f8;}

.player_wicket {width:14%;float:left; margin-left:29px; margin-top:5px;}
.player_wicket ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 15px;}
.player_wicket ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-bottom:0px; border-left:0px; border-right:0px;}
.player_wicket ul li:last-child{border-bottom:1px solid #ccc;}
.player_wicket ul li:nth-child(2n+1){background-color: #f8f8f8;}



.rupees{width:14%;float:left; margin-left:29px; margin-top:5px;}
.rupees ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 10px;}
.rupees ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px;  border-left:0px; }
.rupees ul li:last-child{border-bottom:1px solid #ccc;}
.rupees ul li:nth-child(2n+1){background-color: #f8f8f8;}

.sn_list ul li input[type="checkbox"] {margin-top:-2px!important}



.team_list_main{width:100%; border-top:1px solid #CCCCCC; margin: 0px; padding:0px; float: left;  }
.team_list_lft{width:35%; margin: 0px; padding:0px; float: left; margin-top:13px;}
.team_list_lft ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 10px;}
.team_list_lft ul li{float: left;list-style-type:none !important;padding:12px; text-align: center; width: 91%; border:1px solid #ccc; border-bottom:0px; border-right:0px}
.team_list_lft ul li:last-child{border-bottom:1px solid #ccc;}
.team_list_lft ul li:nth-child(2n+1){background-color: #f8f8f8;}
.team_list_lft ul li input[type="checkbox"] {margin-top:-2px!important}
.list_lft{float:left;min-width:55%; text-align:left}
.list_rgt{float:left;min-width:10%; text-align:left}
.rgt_action{text-align: right !important;
    width: 25% !important;}
.rgt_action a:hover{text-decoration: underline; color: #3399ff}







.team_list_rgt{width:35%; margin: 0px; padding:0px; float: left; margin-top:13px;}
.team_list_rgt ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 0px;}
.team_list_rgt ul li{float: left;list-style-type:none !important;padding:12px; text-align: center; width: 91%; border:1px solid #ccc; border-bottom:0px; }
.team_list_rgt ul li:last-child{border-bottom:1px solid #ccc;}
.team_list_rgt ul li:nth-child(2n+1){background-color: #f8f8f8;}
.team_list_rgt ul li input[type="checkbox"] {margin-top:-2px!important}
.list_lft{float:left;min-width:55%; text-align:left}
.list_rgt{float:left;min-width:10%; text-align:left}
.rgt_action{text-align: right !important;
    width: 25% !important;}




.player_mrg_lft{margin-left:0px; }

.wdt{width:17%}
.wdt_amount{width:230px!important;}
.lft_tex{text-align:center;}


.select_search{ width:98%; margin: 10px 0 0 10px; float:left;}
.select_search dfn{margin:0px 20px 0 0; float: left;}





.your_team p u {text-decoration: none;padding-right: 2%;}
.your_team p i {font-style:normal; padding-right: 0px; float: right}
.your_team p dfn{padding-left: 4%;}


.invited_frnd { height: 100px;margin: 100px auto;text-align: center; width: 80%;}
.invited_frnd u {float: left; padding-top: 38px; text-decoration: none;color: #8C8C8C; padding-left: 100px;}
.invited_frnd_sub { background: #f0f0f0;height: 95px; width: 34% !important; -webkit-box-shadow: 1px 1px 13px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:1px 1px 13px 0px rgba(50, 50, 50, 0.25); box-shadow:1px 1px 13px 0px rgba(50, 50, 50, 0.25); border: opx!important;color: #8C8C8C;}
.invited_frnd_sub:hover {background:#ccc;}


.my_account { min-height:height: 100px;margin: 50px auto;width: 80%; }
.my_account ul {width: 40%; padding: 0px; margin: 0px; list-style-type: none; float: left; padding-bottom: 6%; margin-left: 69px;}
.my_account ul li {width: 100%; padding: 0px; margin: 0px; text-decoration: none; float: left; padding: 10px 0 }
.my_account_lft{float: left; width: 50%;}
.my_account_rgt{float: left; width: 50%;}
.user_img{width: 20%;padding: 0px; margin: 0px; float: left;margin-left: 20px;}
.user_img img {float: left; height: 156px !important; margin: 0; max-width: 100%; padding: 0; width: 100% !important;}



.account_setting { min-height:height: 100px;margin: 50px auto;width: 100%; float:left; }
.account_setting ul {width: 70%; list-style-type: none; float: left; padding-bottom: 6%; margin-left: 10%;}
.account_setting ul li {width: 100%; padding: 0px; margin: 0px; text-decoration: none; float: left; padding: 8px 0 }
.account_setting_lft{float: left; width: 20%; }
.account_setting_rgt{float: left; width: 50.5%;}
.account_setting_img {width: 30%;padding: 0px; margin: 0px; height: 100px; float: left;margin-left:0px; border: 1px solid #ccc; margin-right: -38px;}
.account_setting_img img {width:100%!important;padding: 0px; margin: 0px; height: 100px!important; float: left;}
.set_mrg{margin-right: 0px;
    margin-top: 27px; background: #f90028; border: none; border: 1px solid cccccc;  width: 120px!important; height:  34px; color: #fff; }
.set_mrg:hover{ background:#eb0c30;}

.set_mrg2{margin-right: 0px;
    margin-top: 0px; background: #f90028; border: none; border: 1px solid cccccc;  width: 120px!important; height:  34px; color: #fff; float: right; }
.set_mrg2:hover{ background:#eb0c30;}

.set_mrg_int {width: 96% !important;}
select.set_mrg_int{width:100% !important} 

.team_list{width:69%; height:auto; float:left; margin:0px; padding:0px; padding:10px;}
.team_list ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline; border:1px solid #ccc; border-bottom:none;background:#f8f8f8;}

.team_list ul:last-child{border-bottom:1px solid #ccc;}
.team_list ul:nth-child(2n+0){background:#FFF;}
.team_list ul li{width:6.2%; height:auto; float:left; margin:0px;padding:7px 15px 7px 15px; text-decoration:none; list-style-type:none; display:inline;}
.team_list ul li:first-child{width:25%;}
.team_list ul li:nth-child(4n+0){width:25%; border-left:1px solid #ccc;}

/*---------live score 24-03-2014 start here--------*/

.spn_lft{margin-left:0% ; width: 49.5%; border-right:1px solid #ccc;}
.spn_lft2{margin-left:1%; width: 49.5% ; border:0px;}

.live_list {
	width: 99%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	padding: 0px;
	font-size: 16px;
	 margin: 22px 0 0;
}
.live_list ul {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	border-bottom: 1px solid #ccc;
	padding: 0px;
}
.live_list ul:first-child {
	border-bottom: 2px solid #ccc;
}
.live_list ul:last-child {
	border-bottom: 1px solid #ccc;
}
.live_list ul:nth-child(2n+0) {
	background: #FFF;
}
.live_list ul li {
	min-width: 6.2%;
	min-height: 30px;
	float: left;
	margin: 0px;
	padding: 12px 0px 12px 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
.live_list ul li:first-child {
	width: 16%;
	margin: 0px;
	float: left;
}
.live_list ul li img {
	float: left;
}
.live_list ul li:nth-child(2n+0) {
	width: 12%
}
.live_list ul li:nth-child(3n+0) {
	width: 28%;
	padding-right: 18px;
}
.live_list ul li:nth-child(4n+0) {
	width: 28%
}

.padng_lft3 {
	padding: 0 0.7% 0 2.5%;
	margin-top: 15px;
	margin-bottom: 20px;
}
.padng_lft3 h4 {
	color: #ff0000;
	text-align: center;
}
.fb_cmt {
	width: 100%;
	height: auto;
	float: left;
	margin: 20px 0 0;
	clear:both;
}
.fb_cmt h3 {
	margin: 30px 0 0;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	border-bottom: 2px solid #000;
}

/*live score rgt css*/

.score_lk2 {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 20px 10px 10px;
	text-align: center;
	padding-top: 20px;
}
.score_lk2 a {
	padding: 7px;
	background: #000;
	color: #fff;
}

.team_name {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: left;
	padding-top: 5px;
}
.team_name a {
	padding: 7px;
	background: #000;
	color: #fff;
}
.match_active {
	color:#FF0000!important;
}
.team_name dfn {
	color: #ff0000;
	font-style: normal;
	font-size: 18px;
	margin-left: 30px;
}
.team_list_2 {
	width: 96%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	padding: 0px;
	font-size: 15px;
	margin: 0px 0 0;
}
.team_list_2 ul {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	border-bottom: 1px solid #ccc;
	padding: 0px;
}
.team_list_2 ul:first-child {
	border-bottom: 2px solid #ccc;
}
.team_list_2 ul:last-child {
	border-bottom: 1px solid #ccc;
}
.team_list_2 ul:nth-child(2n+0) {
	background: #FFF;
}
.team_list_2 ul li {
	width: auto;
	min-height: 30px;
	float: left;
	margin: 0px;
	padding: 12px 14px 12px 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
.team_list_2 ul li:first-child {
	width: 20%;
	margin: 0px;
	float: left;
}
.team_list_2 ul li img {
	float: left;
}
.team_list_2 ul li:nth-child(2n+0) {
	width: 26%
}
.team_list_2 ul li:nth-child(3n+0) {
	width: 15%;
	;
}
.team_list_2 ul li:nth-child(4n+0) {
	width: 16%
}
.team_list_2 i {
	font-style: normal;
	margin-top: 10px;
	float: left;
	font-size: 13px;
	margin-bottom: 45px;
}

.team_list_3 {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	padding: 0px;
	font-size: 16px;
	margin: 0px 0 0;
}
.team_list_3 ul {
	width: 100%;
	height: auto;
	float: left;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	border-bottom: 1px solid #ccc;
	padding: 0px;
}
.team_list_3 ul:first-child {
	border-bottom: 2px solid #ccc;
}
.team_list_3 ul:last-child {
	border-bottom: 1px solid #ccc;
}
.team_list_3 ul:nth-child(2n+0) {
	background: #FFF;
}
.team_list_3 ul li {
	width: auto;
	min-height: 20px;
	float: left;
	margin: 0px;
	padding: 12px 14px 12px 0px;
	text-decoration: none;
	list-style-type: none;
	display: inline;
}
.team_list_3 ul li:first-child {
	width: 24%;
	margin: 0px;
	float: left;
}
.team_list_3 ul li img {
	float: left;
}
.team_list_3 ul li:nth-child(2n+0) {
	width: 12%
}
.team_list_3 ul li:nth-child(3n+0) {
	width: 12%
}
.team_list_3 ul li:nth-child(4n+0) {
	width: 12%;
}
.team_list_3 ul li:nth-child(5n+0) {
	width: 12%
}
.team_list_3 i {
	font-style: normal;
	margin-top: 10px;
	float: left;
	font-size: 13px;
}
.team_list_3 h4 {
	color: #ff0000;
	text-align: center;
	margin-right: 20px;
}
.team_list_3 p {
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
.fall_wkt {
	float: left;
	margin-top: 10px;
	width: 100%;
}
.foot_top{margin-top:0px!important;}


/*------------Squad-------------------*/
.score_lk {
	width: 96%;
	height: auto;
	margin: 0px;
	padding: 20px 10px 50px;
	text-align: center;
	padding-top: 20px;
}
.score_lk a {
	padding: 7px;
	background: #000;
	color: #fff;
}
.score_lk a:last-child {
	color: #ff0000;
}

.team_lft {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 50%;
	font-size: 16px;
}
.team_lft ul {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}
.team_lft ul li {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 90%;
	text-align: center;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 11px 5% 10px;
}
.team_lft ul li:first-child {
	border-bottom: 2px solid #ccc;
	border-right: none;
}
.team_rgt {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 47%;
	font-size: 16px;
}
.team_rgt ul {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width:100%;
	list-style-type: none;
}
.team_rgt ul li {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 90%;
	text-align: center;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	padding: 11px 5% 10px;
}
.team_rgt ul li:first-child {
	border-bottom: 2px solid #ccc;
}

/*----Winner-------*/
.win_lft {
	width: 50%;
	height: auto;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;

}
.win_lft h4 {
	color: #000;
	font-weight: 700;
	padding-left: 5px;
}
.win_dtl {
	width: 260px;
	height:352px;
	margin-left: 52px;
	margin-top:65px;
}
.win_dtl p {
	font-size: 20px;
	color: #333;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}
.win_dtl i {
	font-size: 14px;
	color: #333;
	font-style: normal;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
}

.win_dtl h2 {
	font-size: 27px;
	color: #333;
	padding: 0px;
	margin: 0px;
	margin-top:16px!important;
	padding-left: 20px;
}

.win_dtl h2 dfn{
	font-size: 27px;
	color: #ff0000;
	font-style:normal;
}

.win_dt2{
	background:url(../images/batch.png) no-repeat right;
	font-size:18px;
	color: #ff0000;
	font-style:normal;
	height:30px;
	width:98%;
	height:30px; 
	padding-left:20px;
	color:#333;
	margin-top:15px;
	
	
}

.win_dt2 span{color: #fff;
padding-right: 21px;
font-size:16px;
margin-top: 4px;
float: right;}


.win_rgt {
	width:48%;
height:400px;
position:absolute;
top:43px;
right:0px;
background:url(../images/batch_bg.png) no-repeat;
}
.win_img{position: absolute;
top: 65px;
left: 73px;
width: 157px;
height: 108px;
background-size:100% 100%;}

.win_img img{
background-size:100% 100%; width: 157px;height: 108px;

}

/*---------live score 24-03-2014 end here--------*/

#score9 h3{text-align:center; color:#ff0000;}
#score9 h6{text-align:center; }
#score9 h4{text-align:center; }
#score9 h1{text-align:center; color:#0066FF; }
#score9 h5{text-align:center; }

@media (min-width:980px){

.add_small_rgt {width:18%;}
.mrg_lft {margin-top: 10px;}
}

@media (min-width:800px){

.add_small_rgt {width:18%;}
.mrg_lft {margin-top: 8px;}
}


@media (min-width:768px){

.add_small_rgt {width:17%;}
.mrg_lft {margin-top: 7px;}
}

@media (max-width:360px){

.add_small_lft {display:none}
.add_small_rgt {display:none}
.row-fluid img{width:100%}
.mrg_lft {width:90%!important}
 .login-window img{width: 26% !important;}
}

@media (max-width:320px){

.row-fluid img{width:100%}
.stats{float:left;}
}
.live_image{ width:57px; height:45px;
}

.questionMark {
	position:relative;
 background: url("../images/questionMark.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 41px;
    margin-left: 110%;
    margin-top: -37px;
    position: relative;
    width: 26px;
}
.toolTip {
position:absolute;
left:26px; /*Moves it to the right beside the question mark*/
top:0;
display:none;
z-index:999;
/*The attributes below make it look pretty*/
width:300px;
padding:5px;
border:1px solid #ffffff;
background-color:#eeeeee;
font:10px/12px Arial, Helvetica, sans-serif;
}
.justifyed_text
{
text-align:justify;
text-justify:inter-word;
line-height:2;
font-weight:normal;
}
.span_error1
	{
	color:#FF0000!important;
	margin-left:146px!important;
padding-top:10px;
  margin-top: -10px;
    padding-bottom: 5px;
    padding-top: 0;
	}
/*********  ********/
.select_team_lft{}
.block-body{width:97%; float:left;}
.team_list_main .select_search{float: left; margin: 1% 0 0 1%; width: 98%;}
.submit_box .submit_bg{background:#F80029 !important; border:0; color:#fff; padding:5px 10px;}
.submit_box .submit_bg:hover{background:#C80000}
.vpb_main_wrapper > center div{width:auto !important;}
.vpb_main_wrapper > center > div{margin:0 !important}
.main_match_rule{margin-left:0 !important; float: left !important;}
.mob_user, .mob_user_out{display:none;}
.border_right + .spn_lft2 .team_list_3 ul li:first-child{width:20%;}
.border_right + .spn_lft2 .team_list_2 ul li:first-child{width:25%;}
.border_right + .spn_lft2 .team_list_3 ul li{width:12%;}
.border_right + .spn_lft2 .team_list_2 ul li{width:14%;}
.navbar .navbar-inner ul.pull-right + a, .navbar .navbar-inner ul.pull-right + a:visited, .navbar .navbar-inner ul.pull-right + a:hover{color:red;}
.pre_postpaid{ padding-top:0 !important;}
.pre_postpaid > .account_setting_lft:first-child{width: 20%;}
.pre_postpaid > .account_setting_rgt{width:3%;}
.pre_postpaid > .account_setting_lft{ padding-top: 3px; width: 15%;}
.show_user_set{display:none;}

@media (min-width: 320px) and  (max-width: 480px){
.main_latest_status{margin: 0 5% !important;}
.main_match_rule{float: left !important; margin:5% !important; width:90% !important;}
#tablewidget .my_score_board > .team_list_2 ul li:first-child{display:none;}
.select_team_lft{width:90%; margin:5%;}
.select_team_lft > .select_search1 form#frm{width:100%;}
#tablewidget > .my_score_board > .team_list_2{width: 100%; padding-bottom: 20px;}
#tablewidget > .my_score_board > .team_list_2 ul li{width: 20% !important; padding:2%; font-size: 12px;}
.login-popup{width:275px; margin-left: -158px !important;}
.team_lft ul li:first-child{height:40px;}
.team_rgt ul li:first-child{height:40px;}
.team_lft, .team_rgt{font-size:13px;}
.your_team{margin-left: 0%;  margin-top: 20px; width:100%;}
.mob_user, .mob_user_out{display:block;}
.mob_user_out a{padding:8px 0 0 0 !important; }
.mob_user a{padding:10px 8px 0 0 !important; }
.border_right{border-right:0 !important; border-bottom:1px solid;}
.border_right .live_list #t_score ul li:first-child{display:none;}
.border_right .live_list #t_score h4{font-size:16px;}
.border_right .live_list #t_score ul li{font-size:13px; width:22%;}
.lft2 h4, .spn_lft2 .team_name dfn{font-size:17px; text-align:center;}
.border_right + .spn_lft2 .team_list_2 ul li:first-child{text-align:left; width:28%;}
.border_right + .spn_lft2 .team_list_2 ul li{font-size:12px; padding:7px 0; text-align:center; width:17%;}
.border_right + .spn_lft2 .team_list_3 ul li:first-child{text-align:left; width:28%;}
.border_right + .spn_lft2 .team_list_3 ul li{font-size:12px; padding:7px 0; text-align:center; width:17%;}
.select_team_lft .select_search1 dfn select, .select_team_lft .select_search1 dfn input {width:100%;}
.select_team_lft .select_search1 dfn input#team_name{width:95%;}
.spn_lft2 .match_active{font-size:12px;}
.spn_lft2 .match_active + dfn{font-size:15px; float:left; margin-top:10px;}
.pre_postpaid > .account_setting_rgt{width:10%;}
.pre_postpaid > .account_setting_lft{ padding-top: 3px; width: 35%; font-size: 13px; }
.pre_postpaid{width:60% !important;}
.account_setting ul li, .account_setting_lft, .pre_postpaid > .account_setting_lft:first-child{width:100%;}
.account_setting ul li{padding:0px;}
.account_setting_lft{padding:10px 0;}
.account_setting_rgt{width: 80%; margin-left: 0%}
.questionMark, .sub_blank{display:none;} 
.set_mrg{margin-top:0;}
.user_img{width: 50%; margin: 8px 25%;}
.user_img img{width:auto !important;}
.my_account{width: 100%; float:left;}
.my_account ul{padding:0 5%; margin:0; width:90%;}
.show_user_set{background: none repeat scroll 0 0 #F80029; border: 1px solid #C80000; color: #FFFFFF; display: block;  float: left; font-size: 14px; font-weight: bold;  margin: 13px 15%;  padding: 10px 0; text-align: center; width: 60%; text-decoration:none;}
}

@media (min-width: 480px) and  (max-width: 767px){
.mob_user, .mob_user_out{display:block;}
.mob_user_out a{padding:8px 0 0 0 !important; }
.mob_user a{padding:10px 8px 0 0 !important; }
}
