/* CSS Document */

.mrg_lft{margin-left:0% !important; width:81.359%!important}
.add_small_rgt {float:right; margin:0px; padding:0px; height:auto; background:100% 100%; margin-top:1.3%;}
.add_small_lft {float:left;  margin: 11% 0 0 9%; padding:0px; height:auto; background:100% 100%; }
.wlcm_text{text-align:center; }
.mrg_lft_2{margin-left:0% !important;}
.bg_clr{ background:#fff; padding-bottom:5px;}
.select_team_lft{float: left;margin-left: -15px; margin-top: -10px; width: 75%;}
.select_team_rgt{width:20%; float:right; font-size:12px; color:#333333}
.search_bg{ background:url(../images/search.jpg) no-repeat; border: 1px solid #CCCCCC;float: right; margin: 1px 0 0 2px; padding: 5px; background-size: 100% 100%}
.submit_box{width:80%; float:right; padding:2}
.submit_bg{ background:url(../images/search.jpg) no-repeat; padding:2px; margin:8px 10% 2% 0; padding:3px; float:right;}
.latest_status{width:100%; float:left;}
.latest_status ul{width:100%; float:left; margin:0px; padding:8px; }
.latest_status ul li{width:100%; float:left; margin:0px; padding:3px;  list-style-type:none; display:inherit}
.latest_status ul li .lft {width:50%!important;float:left; margin:0px; padding:0px; }
.latest_status ul li .rgt {width:50% !important; float:left; margin:0px; padding:0px; }
.match_rules{width:100%; float:left;}
.match_rules ul{width:100%; float:left; margin:0px; padding:8px 0; }
.match_rules ul li{width:100%; float:left; margin:0px; padding:10px 0;  list-style-type:none; display:inherit; border-bottom:1px solid #CCCCCC;}
.match_rules ul li:last-child{border-bottom:0px;}


.team_list_rgt{width:28%; margin: 0px; padding:0px; float: left;}
.your_team{background:#FED4FE; width:28%; margin:2px; padding:0px; float: left; border:1px solid #FED4FE; border-radius:5px; margin-top:1%}
.your_team h2{text-align:center; color:#000; text-decoration:underline; padding-top:0px;} 
.your_team p{ color:#333;  padding: 5px 4%;}
.your_team p:nth-child(2n+0){background-color: #f8f8f8;  padding: 15px 4%;}
.your_team p:nth-child{padding-bottom:0px; }
.your_team p dfn{ float:right; color:#333; font-style:normal; } 
.abc_bdr{ border-bottom:1px solid #ccc ; width:80%; float:left}

.my_score_board{width:100%;float:left; margin:0px; padding:0px;}

.sn_list{width:5%;float:left; margin:0px; padding:0px; display:block!important}
.sn_list ul{list-style-type:none; padding:5px; float:left; width:100%}
.sn_list ul li{ float:left;list-style-type: none; padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-right:0px;}
.sn_list ul li:last-child{border-bottom:1px solid #ccc;}
.sn_list ul li:nth-child(2n+1){background-color: #f8f8f8;}

.plyer_name{width:35%;float:left; margin-left:30px; margin-top:5px;}
.plyer_name ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 25px;}
.plyer_name ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-left:0px; border-right:0px;}
.plyer_name ul li:last-child{border-bottom:1px solid #ccc;}
.plyer_name ul li:nth-child(2n+1){background-color: #f8f8f8;}

.player_run{width:14%;float:left; margin-left:29px; margin-top:5px;}
.player_run ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 20px;}
.player_run ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px;border-bottom:0px; border-left:0px; border-right:0px;}
.player_run ul li:last-child{border-bottom:1px solid #ccc;}
.player_run ul li:nth-child(2n+1){background-color: #f8f8f8;}

.player_wicket {width:14%;float:left; margin-left:29px; margin-top:5px;}
.player_wicket ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 15px;}
.player_wicket ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px; border-bottom:0px; border-left:0px; border-right:0px;}
.player_wicket ul li:last-child{border-bottom:1px solid #ccc;}
.player_wicket ul li:nth-child(2n+1){background-color: #f8f8f8;}



.rupees{width:14%;float:left; margin-left:29px; margin-top:5px;}
.rupees ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 10px;}
.rupees ul li{ float: left;list-style-type:none !important;padding:12px; text-align: center; width: 100%; border:1px solid #ccc; border-bottom:0px;  border-left:0px; }
.rupees ul li:last-child{border-bottom:1px solid #ccc;}
.rupees ul li:nth-child(2n+1){background-color: #f8f8f8;}

.sn_list ul li input[type="checkbox"] {margin-top:-2px!important}



.team_list_main{width:100%; border-top:1px solid #CCCCCC; margin: 0px; padding:0px; float: left;  }
.team_list_lft{width:35%; margin: 0px; padding:0px; float: left; margin-top:13px;}
.team_list_lft ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 10px;}
.team_list_lft ul li{float: left;list-style-type:none !important;padding:12px; text-align: center; width: 91%; border:1px solid #ccc; border-bottom:0px; border-right:0px}
.team_list_lft ul li:last-child{border-bottom:1px solid #ccc;}
.team_list_lft ul li:nth-child(2n+1){background-color: #f8f8f8;}
.team_list_lft ul li input[type="checkbox"] {margin-top:-2px!important}
.list_lft{float:left;min-width:55%; text-align:left}
.list_rgt{float:left;min-width:10%; text-align:left}
.rgt_action{text-align: right !important;
    width: 25% !important;}
.rgt_action a:hover{text-decoration: underline; color: #3399ff}







.team_list_rgt{width:35%; margin: 0px; padding:0px; float: left; margin-top:13px;}
.team_list_rgt ul{list-style-type:none; padding:5px; float:left; width:100%; margin:0px; padding:0px;   margin: 0 0 0 0px;}
.team_list_rgt ul li{float: left;list-style-type:none !important;padding:12px; text-align: center; width: 91%; border:1px solid #ccc; border-bottom:0px; }
.team_list_rgt ul li:last-child{border-bottom:1px solid #ccc;}
.team_list_rgt ul li:nth-child(2n+1){background-color: #f8f8f8;}
.team_list_rgt ul li input[type="checkbox"] {margin-top:-2px!important}
.list_lft{float:left;min-width:55%; text-align:left}
.list_rgt{float:left;min-width:10%; text-align:left}
.rgt_action{text-align: right !important;
    width: 25% !important;}




.player_mrg_lft{margin-left:0px; }

.wdt{width:17%}
.wdt_amount{width:230px!important;}
.lft_tex{text-align:center;}


.select_search{height:30px; width:100%; float:left; margin:10px 0 0 10px; }
.select_search dfn{margin:0px 20px 0 0; float: left;}





.your_team p u {text-decoration: none;padding-right: 10px;}
.your_team p i {font-style:normal; padding-right: 0px; float: right}
.your_team p dfn{padding-left: 20px;}


.invited_frnd { height: 100px;margin: 100px auto;text-align: center; width: 80%;}
.invited_frnd u {float: left; padding-top: 38px; text-decoration: none;color: #8C8C8C; padding-left: 100px;}
.invited_frnd_sub { background: #f0f0f0;height: 95px; width: 34% !important; -webkit-box-shadow: 1px 1px 13px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:1px 1px 13px 0px rgba(50, 50, 50, 0.25); box-shadow:1px 1px 13px 0px rgba(50, 50, 50, 0.25); border: opx!important;color: #8C8C8C;}
.invited_frnd_sub:hover {background:#ccc;}


.my_account { min-height:height: 100px;margin: 50px auto;width: 80%; }
.my_account ul {width: 40%; padding: 0px; margin: 0px; list-style-type: none; float: left; padding-bottom: 6%; margin-left: 69px;}
.my_account ul li {width: 100%; padding: 0px; margin: 0px; text-decoration: none; float: left; padding: 10px 0 }
.my_account_lft{float: left; width: 50%;}
.my_account_rgt{float: left; width: 50%;}
.user_img{width: 20%;padding: 0px; margin: 0px; height: 100px; float: left;margin-left: 20px; border: 1px solid #ccc;}
.user_img img {width:100%!important;padding: 0px; margin: 0px; height: 100px!important; float: left;}



.account_setting { min-height:height: 100px;margin: 50px auto;width: 100%; }
.account_setting ul {width: 70%; padding: 0px; margin: 0px; list-style-type: none; float: left; padding-bottom: 6%; margin-left: 150px;}
.account_setting ul li {width: 100%; padding: 0px; margin: 0px; text-decoration: none; float: left; padding: 8px 0 }
.account_setting_lft{float: left; width: 20%; }
.account_setting_rgt{float: left; width: 50.5%;}
.account_setting_img {width: 30%;padding: 0px; margin: 0px; height: 100px; float: left;margin-left:0px; border: 1px solid #ccc; margin-right: -38px;}
.account_setting_img img {width:100%!important;padding: 0px; margin: 0px; height: 100px!important; float: left;}
.set_mrg{margin-right: 0px;
    margin-top: 27px; background: #f90028; border: none; border: 1px solid cccccc;  width: 120px!important; height:  34px; color: #fff; }
.set_mrg:hover{ background:#eb0c30;}

.set_mrg2{margin-right: 0px;
    margin-top: 0px; background: #f90028; border: none; border: 1px solid cccccc;  width: 120px!important; height:  34px; color: #fff; float: right; }
.set_mrg2:hover{ background:#eb0c30;}

.set_mrg_int {width: 96% !important;}


.team_list{width:69%; height:auto; float:left; margin:0px; padding:0px; padding:10px;}
.team_list ul{width:100%; height:auto; float:left; margin:0px;text-decoration:none; list-style-type:none; display:inline; border:1px solid #ccc; border-bottom:none;background:#f8f8f8;}

.team_list ul:last-child{border-bottom:1px solid #ccc;}
.team_list ul:nth-child(2n+0){background:#FFF;}
.team_list ul li{width:6.2%; height:auto; float:left; margin:0px;padding:7px 15px 7px 15px; text-decoration:none; list-style-type:none; display:inline;}
.team_list ul li:first-child{width:25%;}
.team_list ul li:nth-child(4n+0){width:25%; border-left:1px solid #ccc;}






















@media (min-width:980px){

.add_small_rgt {width:18%;}
.mrg_lft {margin-top: 10px;}




}

@media (min-width:800px){

.add_small_rgt {width:18%;}
.mrg_lft {margin-top: 8px;}



}


@media (min-width:768px){

.add_small_rgt {width:17%;}
.mrg_lft {margin-top: 7px;}



}


@media (max-width:360px){

.add_small_lft {display:none}
.add_small_rgt {display:none}
.row-fluid img{width:100%}
.mrg_lft {width:90%!important}




}

@media (max-width:320px){

.row-fluid img{width:100%}
.stats{float:left;}



}


