.quake-slider
{
    background: url('ajax-loader.gif') no-repeat center;
    width: 980px;
    height: 373px;
    
    /*box-shadow: 0px 0px 2px #090909;*/
    background-color: #1e457e;
}
.quake-nav
{
    width: 980px;
}
.quake-nav a
{
    width: 67px;
    height: 67px;
}
/*.quake-prev
{
    background-image: url('images/arrow-left.png');
    margin-left: -37px;
}
.quake-next
{
    background-image: url('images/arrow-right.png');
    margin-right: -10px;
}
.quake-prev:hover
{
    background-image: url('images/arrow-left-active.png');
}
.quake-next:hover
{
    background-image: url('images/arrow-right-active.png');
}*/

.quake-slider-caption-container
{
    background-color: black;
}
.quake-slider-caption-container.vertical
{
    width: 220px;
    height: 310px;
    padding-left: 25px;
}
.quake-slider-caption-container.horizontal
{
    width: 990px;
    height: 50px;
    padding-left: 20px;
}
.quake-slider-caption-container.vertical.left
{
    left: 0px;
    margin-left: 10px;
}
.quake-slider-caption-container.vertical.right
{
    margin-right: 10px;
    right: 0px;
}
.quake-slider-caption-container.horizontal.top
{
    top: 0px;
    margin-top: 10px;
}
.quake-slider-caption-container.horizontal.bottom
{
    bottom: 0px;
    margin-bottom: 20px;
}
.quake-slider-caption
{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial;
    padding: 10px;
    line-height:1.5em;
    word-spacing:.2em;
}
.quake-slider-caption.vertical
{
    width: 210px;
    height: 306px;
}
.quake-slider-caption.horizontal
{
    width: 990px;
    height: 50px;
}
.quake-slider-caption.vertical.left
{
    left: 0px;
    margin-left: 10px;
}
.quake-slider-caption.vertical.right
{
    right: 0px;
    margin-right: 10px;
}
.quake-slider-caption.horizontal.top
{
    top: 0px;
    margin-top: 10px;
}
.quake-slider-caption.horizontal.bottom
{
    bottom: 0px;
    margin-bottom: 0px;
}
.quake-nav-wrapper
{
    margin: 0;
    padding: 0;
    width: 990px;
    top: 0;
    left: 0;
}
.quake-nav-wrapper.outside
{
    background-color: #1c1c1c;
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    background-image: url('images/transparent.png');
    margin: auto;
    width: 140px;
    padding:6px;
    box-shadow:0px 1px 2px #424242;
}
.quake-nav-wrapper.inside
{
    margin: -50px auto;
    top: 7px;
	left: 204px;
    width: 140px;
    padding: 7px;
    padding-top: 15px;
    /*background-color: #1c1c1c;;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius:8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;*/
}
.quake-nav-container
{
    padding: 0;
    margin: auto;
}

.quake-nav-control
{
    width: 22px;
    height: 22px;
    background-image: url('circle.png');
    background-repeat: no-repeat;
}
.quake-nav-control.active
{
    background-image: url('circle-active.png');
}
.quake-highlight
{
    color: Yellow;
}
.quake-highlight a
{
    color: Yellow;
}
.quake-link
{
    position: absolute;
    z-index: 101;
}
.quake-thumbnail
{
    width: 98px;
    height: 76px;
    background: url('images/thumb_bg.png') no-repeat center center;
}
.quake-thumbnail-preview
{
    width: 84px;
    height: 48px;
    margin: 7px 0 0 7px;
    background-color: White;
}
.quake-thumbnail-preview img
{
    border: none;
}
