.lavaLampWithImage li.back {
	background:url(../../images/nav-hover-bg.jpg) repeat-x left top;
	/*background: url("lava.gif") no-repeat right -30px;*/
    z-index: 8;
	position: absolute;
}
.lavaLampWithImage li.back .left {
    height: 63px;
}
.lavaLampWithImage li a {
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 63px;
	position: relative;
	overflow: hidden;
	color:#fff!important;	
}
.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
	border: none;
	outline:none;
	text-decoration:none!important;
}
